<div id="template-form-container"></div>

<script>
    let elem = document.createElement("div");
    let url = "/partials/data_forms/templates/template_edit_form.html";
    if (psCompose.subsection == "new") {
        url = "/partials/data_forms/templates/template_new_form.html";
    } else if (psCompose.subsection == "" && window.location.search == "") {
        url = "/partials/data_forms/templates/template_error.html";
    }
    elem.setAttribute("hx-get", url);
    elem.setAttribute("hx-trigger", "load");
    let container = document.getElementById("template-form-container");
    container.appendChild(elem);
    htmx.process(container);
</script>
