# emacs backups
*~

# vagrant stuff
.vagrant

# python cache
__pycache__

# python virtualenv
venv

node_modules

# mac annoyance
.DS_Store
pscompose/psconfig-schema.json
pscompose/schemas-codegen.py
pscompose/schemas-manual.py

# TODO: remove this later, closer to production
pscompose/frontend/css/pscompose.css