# emacs backups
*~

# vagrant stuff
.vagrant

# python cache
__pycache__

# python virtualenv
venv

node_modules

# mac annoyance
.DS_Store
pscompose/perfsonar-pscompose/pscompose/psconfig-schema.json
pscompose/perfsonar-pscompose/pscompose/schemas-codegen.py
pscompose/perfsonar-pscompose/pscompose/schemas-manual.py

# TODO: remove this later, closer to production
pscompose/perfsonar-pscompose/pscompose/frontend/css/pscompose.css
pscompose/perfsonar-pscompose/pscompose/frontend/css/color.css
pscompose/perfsonar-pscompose/pscompose/frontend/components/index.js

# Ignore unibuild files 
unibuild-log
unibuild-work/
unibuild-repo/
unibuild-scripts/
DOSB/