# ignore some config files:
.pre-commit-config.yaml
pscompose/perfsonar-pscompose/package-lock.json
pscompose/perfsonar-pscompose/pscompose/package-lock.json
pscompose/perfsonar-pscompose/pscompose/frontend/components/json_forms.esm.js
pscompose/perfsonar-pscompose/docker-compose.yml
pscompose/perfsonar-pscompose/pnpm-lock.yaml
pscompose/perfsonar-pscompose/yarn.lock
pscompose/perfsonar-pscompose/pscompose/frontend/tailwind.config.js