<!doctype html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet"
        />
        <!-- psCompose -->
        <link rel="stylesheet" href="../css/pscompose.css" />

        <!-- Lucide Icon Library -->
        <script src="https://unpkg.com/lucide@latest"></script>

        <!-- HTMX Library -->
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>

        <!-- Web Components -->
        <script src='../../components/json_forms.esm.js' type="module"></script>

        <script src='../../components/web-button.js' type="module"></script>
        <script src='../../components/text-input.js' type="module"></script>
        <script src='../../components/text-input-area.js' type="module"></script>
        <script src='../../components/dropdown-list.js' type="module"></script>
        <script src='../../components/switch.js' type="module"></script>
        <script src='../../components/checkbox.js' type="module"></script>

        <script>
            document.addEventListener('htmx:afterRequest', function(evt) {
                lucide.createIcons();
            });
            // probably we'll need something like this too:
            /*document.addEventListener("htmx:beforeRequest", function(outboundReq){
                outboundReq.headers.push(["my auth header"])
            })*/
        </script>
    </head>
    <body class="packets-ui" hx-ext="client-side-templates">
        <div class="bg-surface-bg">
            <nav hx-get="/templates/top_nav.html" hx-trigger="load">
            </nav>
            <div class="backdrop">
                <nav hx-get="/templates/left_nav.html" hx-trigger="load">
                </nav>
                <main id='page-content'>
                    <div hx-get="/templates/host_edit_form.html" hx-trigger="load">
                    </div>
                </main>
            </div>
        </div>
    </body>
    </html>
