<!doctype html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="/css/google-fonts-signika-and-source-sans.css"
          rel="stylesheet"
        />
        <!-- psCompose -->
        <link rel="stylesheet" href="/css/pscompose.css" />

        <!-- Lucide Icon Library -->
        <script src="/lib/lucide.min.js@0.479.0" type="text/javascript"></script>

        <!-- HTMX Library -->
        <script src="/lib/htmx.org@2.0.4"></script>
        <script src="/lib/client-side-templates.min.js@2.0.4"></script>
        <script src="/lib/nunjucks.min.js@3.2.4"></script>

        <!-- JSON Forms Web Component Library -->
        <script src='https://unpkg.com/jsonforms-esm@3.5.1-beta9/dist/jsonforms.esm.js' type="module"></script>

        <!-- Web Components -->
        <script src='/components/web-button.js' type="module"></script>
        <script src='/components/text-input.js' type="module"></script>
        <script src='/components/text-input-area.js' type="module"></script>
        <script src='/components/dropdown-list.js' type="module"></script>
        <script src='/components/checkbox.js' type="module"></script>
        <script src='/components/progress-bar.js' type="module"></script>
        <script src='/components/multi-select-dropdown.js' type="module"></script>

        <script>
            document.addEventListener('htmx:afterRequest', function(evt) {
                lucide.createIcons();
            });
            // probably we'll need something like this too:
            /*document.addEventListener("htmx:beforeRequest", function(outboundReq){
                outboundReq.headers.push(["my auth header"])
            })*/
        </script>
    </head>
    <body class="packets-ui" hx-ext="client-side-templates">
        <nav hx-get="/partials/top_nav.html" hx-trigger="load">
        </nav>
        <div class="backdrop">
            <nav hx-get="/partials/left_nav.html" hx-trigger="load">
            </nav>
            <main id='page-content'>

                <div id='router-target' class="page">
                </div>

            </main>
            <div id='short' hx-get="/partials/recently_edited.html" hx-trigger="load">
            </div>
        </div>
        <script>
            window.psCompose = {
                "activeMenuItem": null,
                "activeRoute": null,
                "menu": null,
                "router": null,
                "metadata": {
                    "import": [{
                        "section": "import",
                        "step": 1,
                        "datatype": "template",
                        "singular": "Template",
                        "plural": "Templates",
                        "page_template": "/pages/import/import_template.html",
                        "list_endpoint": "/dummy_api/test_list.json",
                        "detail_endpoint": "/dummy_api/test_${id}.json",
                        "icon": "hard-drive-download",
                    },{
                        "section": "import",
                        "step": 2,
                        "datatype": "template",
                        "singular": "Template",
                        "plural": "Templates",
                        "page_template": "/pages/import/import_template_saved.html",
                        "list_endpoint": "/dummy_api/test_list.json",
                        "detail_endpoint": "/dummy_api/test_${id}.json",
                        "icon": "hard-drive-download",
                    }
                    ],
                    "wizard": [{
                            "section": "wizard",
                            "step": 1,
                            "datatype": "addresses",
                            "singular": "Address",
                            "plural": "Addresses",
                            "page_template": "/pages/wizard/addresses.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "hard-drive-download",
                        },
                        {
                            "section": "wizard",
                            "step": 2,
                            "datatype": "groups",
                            "singular": "Group",
                            "plural": "Groups",
                            "page_template": "/pages/wizard/groups.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "group",
                        },
                        {
                            "section": "wizard",
                            "step": 3,
                            "datatype": "archives",
                            "singular": "Archive",
                            "plural": "Archives",
                            "page_template": "/pages/wizard/archives.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "database",
                        },
                        {
                            "section": "wizard",
                            "step": 4,
                            "datatype": "schedules",
                            "singular": "Schedule",
                            "plural": "Schedules",
                            "page_template": "/pages/wizard/schedules.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "calendar-check",
                        },
                        {
                            "section": "wizard",
                            "step": 5,
                            "datatype": "tests",
                            "singular": "Test",
                            "plural": "Tests",
                            "page_template": "/pages/wizard/tests.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "flask-conical",
                        },
                        {
                            "section": "wizard",
                            "step": 6,
                            "datatype": "tasks",
                            "singular": "Task",
                            "plural": "Tasks",
                            "page_template": "/pages/wizard/tasks.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "clipboard-list",
                        },
                        {
                            "section": "wizard",
                            "step": 7,
                            "datatype": "templates",
                            "singular": "Template",
                            "plural": "Templates",
                            "page_template": "/pages/wizard/create_template.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "locate",
                        },
                        {
                            "section": "wizard",
                            "step": 8,
                            "datatype": "templates",
                            "singular": "Template",
                            "plural": "Templates",
                            "page_template": "/pages/wizard/template.html",
                            "list_endpoint": "/dummy_api/test_list.json",
                            "detail_endpoint": "/dummy_api/test_${id}.json",
                            "icon": "locate",
                        }
                    ],
                    "addresses": {
                        "singular": "Address",
                        "plural": "Addresses",
                        "page_url": "/addresses/",
                        "page_template": "/pages/addresses/addresses.html",
                        "list_endpoint": "/dummy_api/address_list.json",
                        "detail_endpoint": "/dummy_api/address_${id}.json",
                        "icon": "hard-drive-download",
                    },
                    "archives": {
                        "singular": "Archive",
                        "plural": "Archives",
                        "page_url": "/archives/",
                        "page_template": "/pages/archives/archives.html",
                        "list_endpoint": "/dummy_api/archive_list.json",
                        "detail_endpoint": "/dummy_api/archive_${id}.json",
                        "icon": "database",
                    },
                    "contexts": {
                        "singular": "Context",
                        "plural": "Contexts",
                        "page_url": "/contexts/",
                        "page_template": "/pages/contexts/contexts.html",
                        "list_endpoint": "/dummy_api/context_list.json",
                        "detail_endpoint": "/dummy_api/context_${id}.json",
                        "icon": "file-question",
                    },
                    "groups": {
                        "singular": "Group",
                        "plural": "Groups",
                        "page_url": "/groups/",
                        "page_template": "/pages/groups/groups.html",
                        "list_endpoint": "/dummy_api/group_list.json",
                        "detail_endpoint": "/dummy_api/group_${id}.json",
                        "icon": "group",
                    },
                    "schedules": {
                        "singular": "Schedule",
                        "plural": "Schedules",
                        "page_url": "/schedules/",
                        "page_template": "/pages/schedules/schedules.html",
                        "list_endpoint": "/dummy_api/schedule_list.json",
                        "detail_endpoint": "/dummy_api/schedule_${id}.json",
                        "icon": "calendar-check",
                    },
                    "tasks": {
                        "singular": "Task",
                        "plural": "Tasks",
                        "page_url": "/tasks/",
                        "page_template": "/pages/tasks/tasks.html",
                        "list_endpoint": "/dummy_api/task_list.json",
                        "detail_endpoint": "/dummy_api/task_${id}.json",
                        "icon": "clipboard-list",
                    },
                    "templates": {
                        "singular": "Template",
                        "plural": "Templates",
                        "page_url": "/templates/",
                        "page_template": "/pages/templates/templates.html",
                        "list_endpoint": "/dummy_api/template_list.json",
                        "detail_endpoint": "/dummy_api/template_${id}.json",
                        "icon": "locate",
                    },
                    "tests": {
                        "singular": "Test",
                        "plural": "Tests",
                        "page_url": "/tests/",
                        "page_template": "/pages/tests/tests.html",
                        "list_endpoint": "/dummy_api/test_list.json",
                        "detail_endpoint": "/dummy_api/test_${id}.json",
                        "icon": "flask-conical",
                    }
                }
            };
            psCompose.menu = {
                "addresses": psCompose.metadata["addresses"],
                "archives": psCompose.metadata["archives"],
                "contexts": psCompose.metadata["contexts"],
                "groups": psCompose.metadata["groups"],
                "schedules": psCompose.metadata["schedules"],
                "tasks": psCompose.metadata["tasks"],
                "templates": psCompose.metadata["templates"],
                "tests": psCompose.metadata["tests"],
            };
            psCompose.router = {
                "/wizard/1/addresses/": psCompose.metadata["wizard"][0],
                "/wizard/2/groups/": psCompose.metadata["wizard"][1],
                "/wizard/3/archives/": psCompose.metadata["wizard"][2],
                "/wizard/4/schedules/": psCompose.metadata["wizard"][3],
                "/wizard/5/tests/": psCompose.metadata["wizard"][4],
                "/wizard/6/tasks/": psCompose.metadata["wizard"][5],
                "/wizard/7/create_template/": psCompose.metadata["wizard"][6],
                "/wizard/8/template/": psCompose.metadata["wizard"][7],
                "/import/1/import_template/": psCompose.metadata["import"][0],
                "/import/2/import_template_saved/": psCompose.metadata["import"][1],
                "/addresses/": psCompose.metadata["addresses"],
                "/archives/": psCompose.metadata["archives"],
                "/contexts/": psCompose.metadata["contexts"],
                "/groups/": psCompose.metadata["groups"],
                "/schedules/": psCompose.metadata["schedules"],
                "/tasks/": psCompose.metadata["tasks"],
                "/templates/": psCompose.metadata["templates"],
                "/tests/": psCompose.metadata["tests"],
            };

            // the actual URL router
            function urlRouter(path, searchString){
                path = path.replace("/app", "");
                if (path == "/"){
                    return "/pages/index.html";
                }
                psCompose.activeRoute = psCompose.router[path];
                console.log(psCompose.activeRoute);
                psCompose.activeMenuItem = path.split("/")[1];
                psCompose.subsection = path.split("/")[2];
                psCompose.pathParts = path.split("/");

                let getParams = new URLSearchParams(searchString);
                getParams.keys().forEach((k)=>{
                    psCompose.activeSection[k] = getParams[k];
                })

                return `${psCompose.activeRoute.page_template}`;
            }

            let target = document.getElementById("router-target");
            target.innerHTML = `<div
                hx-get='${urlRouter(window.location.pathname, window.location.search)}'
                hx-trigger='load'>
            </div>`; 

        </script>
    </body>
    </html>
