<!doctype html>
<html data-theme="dark">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="/css/google-fonts-signika-and-source-sans.css" rel="stylesheet" />
        <!-- psCompose -->
        <link rel="stylesheet" href="/css/pscompose.css" />
        <link rel="stylesheet" href="/css/web-components.css" />

        <!-- Lucide Icon Library -->
        <script src="/lib/lucide.min.js@0.479.0" type="text/javascript"></script>

        <!-- HTMX Library -->
        <script src="/lib/htmx.org@2.0.4"></script>
        <script src="/lib/client-side-templates.min.js@2.0.4"></script>
        <script src="/lib/nunjucks.min.js@3.2.4"></script>

        <!-- JSON Forms Web Component Library -->
        <script
            src="https://unpkg.com/jsonforms-esm@3.5.1/dist/jsonforms.esm.js"
            type="module"
        ></script>

        <!-- Dynamic URL Extension (dynamic-url) for HTMX -->
        <!-- For production -->
        <script
            src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/gh/FumingPower3925/htmx-dynamic-url@main/dist/dynamic-url.min.js"
            integrity="sha384-xzJhFGTvjMySqCy1UJ/W3aBlfKC2xvFn/cxc0+VcRaJSL3HLvWX622kBDyi0c5Ro"
            crossorigin="anonymous"
        ></script>

        <!-- Web Components -->
        <script src="/components/form-control.js" type="module"></script>
        <script src="/components/web-button.js" type="module"></script>
        <script src="/components/web-tooltip.js" type="module"></script>
        <script src="/components/web-modal.js" type="module"></script>
        <script src="/components/input-text.js" type="module"></script>
        <script src="/components/input-switch.js" type="module"></script>
        <script src="/components/input-text-area.js" type="module"></script>
        <script src="/components/input-text-autocomplete.js" type="module"></script>
        <script src="/components/input-number.js" type="module"></script>
        <script src="/components/input-checkbox.js" type="module"></script>
        <script src="/components/input-checkbox-star.js" type="module"></script>
        <script src="/components/input-label.js" type="module"></script>
        <script src="/components/input-message.js" type="module"></script>
        <script src="/components/progress-bar.js" type="module"></script>
        <script src="/components/dropdown-multi-select.js" type="module"></script>
        <script src="/components/dropdown-single-select.js" type="module"></script>
        <script src="/components/dropdown-excludes.js" type="module"></script>
        <script src="/components/message-banner.js"></script>
        <script src="/partials/customRenderer.js" type="module"></script>

        <script src="/static/settings.js"></script>
        <script>
            document.addEventListener("htmx:afterRequest", function (evt) {
                lucide.createIcons();
            });

            if(!window.BASE_URL) window.BASE_URL = window.location.origin;
            if (!window.API_BASE_URL) window.API_BASE_URL = `${window.BASE_URL}/api`

            // probably we'll need something like this too:
            /*document.addEventListener("htmx:beforeRequest", function(outboundReq){
                outboundReq.headers.push(["my auth header"])
            })*/
        </script>

        <!-- Allow AJAX requests outside the domain -->
        <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    </head>
    <body class="packets-ui" hx-ext="client-side-templates">
        <nav hx-get="/partials/nav_top.html" hx-trigger="load"></nav>
        <div class="backdrop">
            <nav hx-get="/partials/nav_left.html" hx-trigger="load"></nav>
            <main id="page-content">
                <div class="flex flex-col w-full">
                    <div id="response-container"></div>
                    <div id="router-target"></div>
                </div>
                <div class="inline-flex" hx-get="/partials/nav_shortcuts.html" hx-trigger="load"></div>
            </main>
        </div>
        <script>
            // nunjucks environment setup: add 'logger' and 'escape_property' filters
            document.addEventListener("htmx:nunjucks-environment", (event) => {
                let env = event.detail.environment;

                env.addFilter("logger", function (value, label) {
                    if (label) {
                        console.log(label, value);
                    } else {
                        console.log(value);
                    }
                    return value;
                });

                function resolvePath(object, path, defaultValue = null) {
                    return path
                        .split(/[\.\[\]\'\"]/)
                        .filter((p) => p) // remove empty splits
                        .reduce((o, p) => (o ? o[p] : defaultValue), object);
                }
                function setPath(object, path, newValue) {
                    let splitPath = path.split(/[\.\[\]\'\"]/).filter((p) => p);
                    let o = object;
                    let lastItem = splitPath.pop();
                    splitPath.forEach((p) => {
                        o = o[p];
                    });
                    o[lastItem] = newValue;
                }
                env.addFilter("escape_property", function (object, path) {
                    let value = resolvePath(object, path);
                    if (typeof value != "string") {
                        setPath(object, path, JSON.stringify(value));
                    }
                    return object;
                });
            });

            window.psCompose = {
                activeMenuItem: null,
                activeRoute: null,
                menu: null,
                router: null,
                metadata: {
                    import: [
                        {
                            section: "import",
                            step: 1,
                            datatype: "template",
                            singular: "Template",
                            plural: "Templates",
                            page_template: "/pages/import/import_template.html",
                            list_endpoint: "/dummy_api/test_list.json",
                            icon: "hard-drive-download",
                        },
                        {
                            section: "import",
                            step: 2,
                            datatype: "template",
                            singular: "Template",
                            plural: "Templates",
                            page_template: "/pages/import/import_template_saved.html",
                            list_endpoint: "/dummy_api/test_list.json",
                            icon: "hard-drive-download",
                        },
                    ],
                    wizard:
                        {
                            order: ['address', 'group', 'archive', 'schedule', 'test', 'task', 'template'],
                            page_template: "/pages/wizard.html",
                        },
                    home: {
                        singular: "Template",
                        plural: "Templates",
                        page_url: "/",
                        page_template: "/pages/index.html",
                        list_endpoint: `${window.API_BASE_URL}/template/`,
                        icon: "locate",
                    },
                    address: {
                        singular: "Address",
                        plural: "Addresses",
                        page_url: "/address/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/address/`,
                        icon: "hard-drive-download",
                        desc: "Addresses represent the systems involved in your tests and measurements. Make sure that all addresses required for your groups are present in the list below.",
                    },
                    archive: {
                        singular: "Archive",
                        plural: "Archives",
                        page_url: "/archive/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/archive/`,
                        icon: "database",
                        desc: "Archives are optional components that specify where the results of your tasks will be stored. Make sure that all archives required for your tasks are included in the list below.",
                        link: "https://docs.perfsonar.net/psconfig_templates_intro.html#archives",
                    },
                    context: {
                        singular: "Context",
                        plural: "Contexts",
                        page_url: "/context/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/context/`,
                        icon: "file-question",
                    },
                    group: {
                        singular: "Group",
                        plural: "Groups",
                        page_url: "/group/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/group/`,
                        icon: "group",
                        desc: "Groups describe how addresses are combined when building the list of tasks. Make sure that all groups required for your tasks are included in the list below.",
                        link: "https://docs.perfsonar.net/psconfig_templates_intro.html#groups",
                    },
                    schedule: {
                        singular: "Schedule",
                        plural: "Schedules",
                        page_url: "/schedule/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/schedule/`,
                        icon: "calendar-check",
                        desc: "Schedules are optional components that specify how often to run each task. Make sure that all schedules required for your tasks are included in the list below.",
                        link: "https://docs.perfsonar.net/psconfig_templates_intro.html#schedules",
                    },
                    task: {
                        singular: "Task",
                        plural: "Tasks",
                        page_url: "/task/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/task/`,
                        icon: "clipboard-list",
                        desc: "Tasks are jobs that include a set of input addresses (defined by a group), a test with the necessary parameters, and an optional schedule and/or archive. Make sure that all tasks required for your template are included in the list below.",
                    },
                    template: {
                        singular: "Template",
                        plural: "Templates",
                        page_url: "/template/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/template/`,
                        icon: "locate",
                        desc: "You have reached the final step!<br />Please enter a name for the template, select all tasks you want to include, and save your changes.",
                    },
                    test: {
                        singular: "Test",
                        plural: "Tests",
                        page_url: "/test/",
                        page_template: "/pages/data_form.html",
                        list_endpoint: `${window.API_BASE_URL}/test/`,
                        icon: "flask-conical",
                        desc: "Tests define the parameters of the job to be carried out by the task. Make sure that all tests required for your tasks are included in the list below.",
                        link: "https://docs.perfsonar.net/psconfig_templates_intro.html#tests",
                    },
                },
            };
            psCompose.menu = {
                address: psCompose.metadata["address"],
                archive: psCompose.metadata["archive"],
                context: psCompose.metadata["context"],
                group: psCompose.metadata["group"],
                schedule: psCompose.metadata["schedule"],
                task: psCompose.metadata["task"],
                template: psCompose.metadata["template"],
                test: psCompose.metadata["test"],
            };
            psCompose.router = {
                "/wizard/1/address/": psCompose.metadata["wizard"],
                "/wizard/2/group/": psCompose.metadata["wizard"],
                "/wizard/3/archive/": psCompose.metadata["wizard"],
                "/wizard/4/schedule/": psCompose.metadata["wizard"],
                "/wizard/5/test/": psCompose.metadata["wizard"],
                "/wizard/6/task/": psCompose.metadata["wizard"],
                "/wizard/7/template/": psCompose.metadata["wizard"],
                "/wizard/7/complete/": psCompose.metadata["wizard"],
                "/import/1/import_template/": psCompose.metadata["import"][0],
                "/import/2/import_template_saved/": psCompose.metadata["import"][1],
                "/address/": psCompose.metadata["address"],
                "/address/new/": psCompose.metadata["address"],
                "/archive/": psCompose.metadata["archive"],
                "/archive/new/": psCompose.metadata["archive"],
                "/context/": psCompose.metadata["context"],
                "/context/new/": psCompose.metadata["context"],
                "/group/": psCompose.metadata["group"],
                "/group/new/": psCompose.metadata["group"],
                "/schedule/": psCompose.metadata["schedule"],
                "/schedule/new/": psCompose.metadata["schedule"],
                "/task/": psCompose.metadata["task"],
                "/task/new/": psCompose.metadata["task"],
                "/template/": psCompose.metadata["template"],
                "/template/new/": psCompose.metadata["template"],
                "/test/": psCompose.metadata["test"],
                "/test/new/": psCompose.metadata["test"],
                "/": psCompose.metadata["home"],
            };

            // the actual URL router
            function urlRouter(path, searchString) {
                path = path.replace("/app", "");
                psCompose.activeRoute = psCompose.router[path];
                psCompose.activeMenuItem = String(path.split("/")[1]);
                psCompose.subsection = path.split("/")[2];
                psCompose.pathParts = path.split("/");

                let getParams = new URLSearchParams(searchString);
                for (const k of getParams.keys()) {
                    psCompose.activeRoute[k] = getParams.get(k);
                }

                return `${psCompose.activeRoute.page_template}`;
            }

            function myResolver(varName) {
                console.log(`[Resolver] Looking for: {${varName}}`);
                // Check if the variable exists in our state object
                if (varName in psCompose.activeRoute) {
                    return psCompose.activeRoute[varName]; // Return the value
                }
                // IMPORTANT: Return undefined for unhandled variables
                return undefined;
            }

            // Assign the resolver function to htmx config
            htmx.config.dynamicUrlResolver = myResolver;

            let target = document.getElementById("router-target");
            target.innerHTML = `<div
                hx-get='${urlRouter(window.location.pathname, window.location.search)}'
                hx-trigger='load'
                >
            </div>`;
        </script>
    </body>
</html>
