<div id="wizard-container"></div>

<script id="wizard-step-template" type="nunjucks">
    <div class="wizard-page">
        <header class="wizard-header">
            <web-button
                id="prev-btn"
                link="{{ prevLink | default('/') }}"
                label="{{ prevButton }}"
                theme="Primary">
            </web-button>
            <div class="progress-bar">
                <h3>New Template</h3>
                <progress-bar step="{{ step }}"></progress-bar>
            </div>
            <web-button
                id="next-btn"
                link="{{ nextLink }}"
                label="{{ nextButton }}"
                theme="Tertiary"
                righticon="arrow-right">
            </web-button>
        </header>

        <div class="step-section">
            <h2>Step {{ step }}) {{ singular }}</h2>
            <p class="step-text">
                {{ stepText | safe }}
            </p>
            <div class="step-box">
                <div class="step-box-left">
                    <dropdown-single-select label="{{ singular }}"></dropdown-single-select>
                    <web-button
                        id="new-btn"
                        label="New {{ singular }}"
                        theme="Shadow"
                        lefticon="{{ leftIcon }}">
                    </web-button>
                </div>
                <div class="step-box-right">
                    <i style="color: rgb(var(--shadow)); width: 150; height: 150"
                        data-lucide="{{ leftIcon }}">
                    </i>
                </div>
            </div>
        </div>   
        <div hx-get="/partials/confirm-modals.html" hx-trigger="load"></div>
    </div>
</script>

<script>
    (async function renderWizardStep() {
        const step = Number(psCompose.subsection);
        const meta = psCompose.metadata[psCompose.metadata.wizard.order[step-1]];
        psCompose.activeRoute = meta;
        if (!meta) return console.error(`No metadata for step ${step}`);

        // Build desc
        const baseDesc = meta.desc || "";
        const learnMoreLink = meta.link
            ? `<a href="${meta.link}" target="_blank">Learn More</a>`
            : "";
        const stepInstruction =
            step < 8
                ? `${baseDesc} ${learnMoreLink}<br/><br/>Use the <b>New ${meta.singular}</b> button to add new <b>${meta.plural}</b> as needed.`
                : baseDesc;

        // Build rendering context
        const context = {
            step,
            singular: meta.singular,
            plural: meta.plural,
            stepText: stepInstruction.trim(),
            leftIcon: meta.icon || "info",
            prevLink: step > 1 ? '/wizard/' + (step - 1) + '/' + psCompose.metadata.wizard.order[step-2] + '/' : "/",
            nextLink: step < 9 ? '/wizard/' + (Number(step) + 1) + '/' + psCompose.metadata.wizard.order[step] + '/' : "",
            prevButton: step > 1 ? "Previous" : "Cancel",
            nextButton: step >= 8 ? "Save" : "Next",
        };

        // Render wizard template
        const template = document.getElementById("wizard-step-template").innerHTML;
        const container = document.getElementById("wizard-container");
        container.innerHTML = nunjucks.renderString(template, context);

        lucide.createIcons();
        htmx.process(container);

        var params = new URLSearchParams(window.location.search);

        // Render new template form
        if (window.location.pathname.includes("/wizard/7/template/")) {
            if (params.get('id')) window.location = '/wizard/7/complete/' + '?id=' + params.get("id")
            const stepBox = container.querySelector(".step-box");
            if (!stepBox) return;
            stepBox.classList.replace("step-box", "step-box-column");
            stepBox.innerHTML = `<div class="w-full" hx-get="/partials/data_new_form.html" hx-trigger="load"></div>`;
            htmx.process(stepBox);

            const nextBtn = document.querySelector("#next-btn");
            nextBtn.setAttribute("confirm-modal", "save-modal");
            nextBtn.removeAttribute("link");
            nextBtn.addEventListener("click", (e) => {
                const form = document.getElementById("data-new-form");
                if (!form) return 
                form.requestSubmit();
            });
            return;
        }

        // Render saved template success page
        if (window.location.pathname.includes("/wizard/7/complete/")) {
            const stepSection = document.querySelector(".step-section");

            const stepBox = stepSection.querySelector(".step-box");
            stepSection.querySelector(".step-box").innerHTML = `<div class="w-full" hx-get="/partials/data_edit_form.html" hx-trigger="load"></div>`;
            document.querySelector('.progress-bar').querySelectorAll("web-button").forEach(btn => btn.remove());

            document.querySelector('h3').innerText = "Success! Your template has been saved.";
            document.querySelector('h2').remove();
            document.querySelector('.step-text').remove();

            const saveCancelDiv = document.createElement("div");
            saveCancelDiv.className = "save-cancel";
            saveCancelDiv.innerHTML = `
                <web-button
                    label="Copy JSON"
                    theme="Secondary"
                    righticon="clipboard-copy"
                    id="copy-json">
                </web-button>
                <web-button
                    link="/wizard/1/address/"
                    label="Make Another Template"
                    theme="Primary">
                </web-button>
            `;

            console.log(saveCancelDiv)

            
            stepSection.appendChild(saveCancelDiv);
            htmx.process(stepSection);

            document.querySelector('#copy-json').addEventListener("click", async () => {
                await copyTemplateJSON(params.get("id"));
            });
            return;
        }

        await populateDropdown(meta.list_endpoint);
        setupEventListeners(meta.icon);

        if (params.get("id")) loadForm({id: params.get("id"), icon: meta.icon});
        if (params.get("new")) loadForm({ isNew: true, icon: meta.icon });
    })();

    async function populateDropdown(endpoint) {
        try {
            const response = await fetch(endpoint);
            if (!response.ok) throw new Error(`Failed to fetch data: ${response.statusText}`);

            const data = await response.json();
            const dataList = data.map((item) => ({
                const: item.id,
                title: item.name,
            }));
            document
                .querySelector("dropdown-single-select")
                .setAttribute("options", JSON.stringify(dataList));
        } catch (err) {
            console.error("Error:", err);
        }
    }

    const container = document.querySelector(".step-box-right");
    const dropdown = document.querySelector("dropdown-single-select");
    const newBtn = document.getElementById("new-btn");

    function setupEventListeners(defaultIcon = "info") {
        dropdown?.addEventListener("change", (evt) => loadForm({ id: evt.target.value, icon: defaultIcon}));
        newBtn?.addEventListener("click", () => loadForm({ isNew: true, icon: defaultIcon }));
    }

    function loadForm({ id = null, isNew = false,  icon="info" } = {}) {
        const url = new URL(window.location.href);
        url.search = "";

        if (isNew) {
            url.searchParams.set("new", "true");
            dropdown.value = '';
            container.innerHTML = `
                <div style='width: 100%' 
                    hx-get="/partials/data_new_form.html" 
                    hx-trigger="load">
                </div>`;
        } else if (id) {
            url.searchParams.set("id", id);
            psCompose.activeRoute.id = id;
            dropdown.value = id;
            container.innerHTML = `
                <div style='width: 100%'
                    hx-get="/partials/data_edit_form.html" 
                    hx-trigger="load">
                </div>`;
        } else {
            container.innerHTML = `<i style="color: rgb(var(--shadow)); width: 150; height: 150" data-lucide='${defaultIcon}'></i>`;
        }

        window.history.pushState({}, "", url.toString());
        htmx.process(container);
        lucide.createIcons();
    }
</script>
