.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    font-size: 16px;
}
.container label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-weight: 600;
    white-space: nowrap;
}
.container ::placeholder {
    color: var(--copyAlt-color);
}
.container required {
    color: var(--copyAlt-color);
    text-align: right;
    font-size: 12px;
}
.container:has(:disabled) required {
    display: none;
}

/* INPUT-TEXT */

.container .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--surface2-color);
    color: var(--copy-color);

    width: 100%;
    height: 40px;

    border: 1px solid #c3c7d9;
}

.container .input-wrapper .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
}

.container .input-wrapper:has(input:focus) {
    border: 1.5px solid var(--success-color);
}

.container .input-wrapper:has(:disabled) {
    background-color: transparent;
    border: none;
    font-family: "Source Code Pro";
    cursor: not-allowed;
    color: var(--copyAlt-color);
    height: 24px;
}

.container .input-wrapper:has(:disabled) input {
    padding: 0;
}

.container .input-wrapper:has(:disabled) .buttons {
    display: none;
}

.container .input-wrapper input {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;

    width: 100%;
    flex: 1 1 auto;
    padding: 0 12px;
}

.container .input-wrapper input:focus {
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Removing Default Spinner */
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

/* INPUT-NUMBER */

.container input[type="number"] .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* INPUT-CHECKBOX */
.container:has(input[type="checkbox"]) .input-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    /* margin-top: 32px; */
    height: 40px;
}
.container input[type="checkbox"] {
    width: 24px;
    height: 24px;
    background: var(--surface1-color);
    accent-color: var(--success-color);
    border: 2px solid var(--copyAlt-color);
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
}

.container input[type="checkbox"]:checked {
    background: var(--success-color);
}
.container input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6.5px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    pointer-events: none;
    display: block;
}
.checkbox-container-disabled {
    display: none;
}
.container:has(input[type="checkbox"]:disabled) {
    display: none;
}
input-checkbox:has(input[type="checkbox"]:disabled) .checkbox-container-disabled {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
}
input-checkbox:has(input[type="checkbox"]:disabled) .checkbox-container-disabled label {
    white-space: nowrap;
    font-weight: 600;
}
input-checkbox:has(input[type="checkbox"]:disabled) .checkbox-container-disabled p {
    font-family: "Source Code Pro";
    color: var(--copyAlt-color);
    height: 24px;
}

/* INPUT-TEXT-AREA */

.container textarea {
    padding: 8px;

    background-color: var(--surface2-color);
    color: var(--copy-color);

    width: 100%;
    max-width: 100%;
    min-height: 15vh;
    max-height: 35vh;
    resize: vertical;

    border: 1px solid #c3c7d9;
}

.container textarea:focus {
    outline: none;
    border: 1.5px solid var(--success-color);
}

.container textarea:disabled {
    background-color: transparent;
    border: none;
    cursor: not-allowed;
    padding: 0;
    resize: none;
    color: var(--copyAlt-color);
    height: auto;
    min-height: 0;
}

/* DROPDOWN-SELECT */

.container .dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 8px;
    background-color: var(--surface2-color);
    border: 1px solid #c3c7d9;
}

.container .dropdown .select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    gap: 16px;

    color: var(--copy-color);

    width: 100%;
    min-height: 40px;
    max-height: 40px;
}

.container .dropdown.active {
    outline: none;
    border: 1.5px solid var(--success-color);
}

.container .select input {
    appearance: none;
    background-color: transparent;
    width: 100%;
}

.container .select input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.container .dropdown .options {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-top: 1px solid var(--copy-color);
    gap: 10px;
    cursor: pointer;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.container .dropdown .options.open {
    max-height: 350px;
    opacity: 1;
    padding: 8px;
    overflow-y: auto;
    scrollbar-color: var(--copyAlt-color) var(--copy-color);
}

.container .dropdown .option {
    display: flex;
    padding: 4px;
}

.container .dropdown .option.active {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

.container .dropdown.disabled {
    background-color: transparent;
    border: none;
    cursor: not-allowed;
    padding: 0;
    color: transparent;
}

.container .dropdown.disabled web-button {
    display: none;
}

.container .dropdown.disabled p {
    display: none;
}

/* DROPDOWN-MULTI-SELECT */

.container .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.container .tag {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 4px 8px 4px 12px;
    border: 1px solid #454547;
    background: var(--success-color);
    color: var(--copy-color);
    font-size: 14px;
    font-weight: 600;
}

.container .remove-tag {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}
dropdown-multi-select .container select:disabled {
    background-color: transparent;
    border: none;
    cursor: not-allowed;
    padding: 0;
    color: transparent;
}

dropdown-multi-select .container:has(.dropdown.disabled) .select {
    display: none;
}

.container:has(.dropdown.disabled) .tags {
    display: flex;
    height: 24px;
}

.container:has(.dropdown.disabled) .tag {
    padding: 4px 12px;
    align-self: flex-start;
}

.container:has(.dropdown.disabled) .remove-tag {
    display: none;
}

/* EXCLUDES DROPDOWN */

.container .excludes-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: start;
    margin-bottom: 0.5rem;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
}

.container .excludes-container .dropdown-container dropdown-single-select,
dropdown-multi-select {
    flex: 1;
}

.container .excludes-container #excludes-minus-btn {
    margin-top: 14px;
}

#excludes-add-btn {
    margin-top: 8px;
}

.container .excludes-container .dropdown-container label {
    font-size: 14px;
    font-weight: 500;
}

/* WEB-BUTTON */

web-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    border-radius: 18px;

    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);

    font-weight: 700;
}

web-button button svg {
    width: 24px;
    height: 24px;
}

web-button[data-theme="Primary"] button {
    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Primary"] button:hover {
    background-color: var(--surface2-color);
}

web-button[data-theme="Secondary"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Secondary"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

web-button[data-theme="Success"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Sucess"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

web-button[data-theme="Tertiary"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--copyAlt-color);
}

web-button[data-theme="Tertiary"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.7);
}

web-button[data-theme="Shadow"] button {
    background-color: var(--shadow-color);
    color: var(--copy-color);
    border: 2px solid var(--shadow-color);
}

web-button[data-theme="Shadow"] button:hover {
    background-color: rgba(var(--shadow-color-rgb), 0.7);
}

web-button[data-theme="Error"] button {
    background-color: var(--error-color);
    color: var(--copy-color);
    border: 2px solid var(--error-color);
}

web-button[data-theme="Error"] button:hover {
    background-color: rgba(var(--error-color-rgb), 0.5);
}

web-button[data-theme="Warning"] button {
    background-color: var(--warning-color);
    color: var(--surface2-color);
    border: 2px solid var(--warning-color);
}

web-button[data-theme="Warning"] button:hover {
    background-color: rgba(var(--warning-color-rgb), 0.5);
}

web-button[data-theme="Icon"] button {
    background-color: transparent;
    color: var(--copy-color);
    border: none;
    padding: 0.3rem;
}

web-button[data-theme="Icon"] button:hover {
    background-color: var(--surface1-color);
    padding: 0.3rem;
}

web-button[data-theme="Icon-Success"] button {
    background-color: transparent;
    color: var(--success-color);
    border: 2px solid var(--success-color);
    padding: 0.5rem;
}

web-button[data-theme="Icon-Success"] button:hover {
    background-color: var(--surface1-color);
}

web-button[data-theme="Small"] button {
    gap: 4px;
    padding: 0.2rem 1rem;

    background-color: var(--shadow-color);
    color: var(--copy-color);
    border: 2px solid var(--shadow-color);

    font-weight: 600;
    font: 14px;
}

web-button[data-theme="Small"] button svg {
    width: 16px;
    height: 16px;
}

web-button[data-theme="Small"] button:hover {
    background-color: var(--surface1-color);
}

web-button[data-theme="AddBtn"] button {
    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 2px solid var(--copy-color);
}

web-button[data-theme="AddBtn"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

/* WEB-TOOLTIP */

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip-container .info-icon {
    position: relative;
    z-index: 20;
}
.tooltip-container .icon-wrapper svg {
    width: 20px;
    height: 20px;
}
.tooltip-container .tooltip-bubble {
    position: absolute;
    bottom: 100%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 10;
}
.tooltip-container .tooltip-bubble.show {
    opacity: 1;
    pointer-events: auto;
}
.tooltip-container .tooltip.left {
    background-color: #f2f2f2;
    color: #3d3d3d;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 300px;
    font-weight: 400;

    position: relative;
    z-index: 2;
    left: -10px;
    bottom: -4px;
    white-space: normal;
}
.tooltip-container .tooltip.right {
    background-color: #f2f2f2;
    color: #3d3d3d;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 300px;
    font-weight: 400;

    position: relative;
    z-index: 2;
    left: -270px;
    bottom: -4px;
    white-space: normal;
}
.tooltip-container .indicator {
    position: relative;
    z-index: 1;
    left: -140px;
    bottom: 8px;
}
.container:has(:disabled) label svg {
    display: none;
}

/* WEB-MODAL */

#confirm-modal {
    /* Underlay covers entire screen. */
    position: fixed;
    inset: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 0.5;
    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
  required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#confirm-modal > .modal-content {
    margin-top: 30vh;
    display: flex;
    width: 80%;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    border-width: 0.125rem;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 26 / var(--tw-bg-opacity, 1));
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    --tw-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px -1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0px 2px 3px -1px var(--tw-shadow-color),
        0px 4px 5px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}
