/* FORM-CONTROL */

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    font-size: 16px;
}

.container label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: start;
    font-weight: 600;
    white-space: nowrap;
}

.container ::placeholder {
    color: var(--copyAlt-color);
}

[disabled] .container input-message {
    display: none;
}

[disabled] web-tooltip {
    display: none;
}

.container .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 12px;

    background-color: var(--surface2-color);
    color: var(--copy-color);

    width: 100%;
    min-width: 200px;
    height: auto;

    border: 1px solid #c3c7d9;
}

.container:has(input-message .error.show) .wrapper {
    border: 2px solid var(--color-core-red-700, #a6111b);
    box-shadow: var(--size-border-width-none, 0) var(--size-border-width-none, 0) 0.9px 2px
        rgba(222, 0, 0, 0.26);
}

[disabled] .container .wrapper {
    background-color: transparent;
    border: none;
    font-family: "Source Code Pro";
    cursor: not-allowed;
    color: var(--copyAlt-color);
    padding: 0px 4px;
}

[disabled] .container:has(input-message .error.show) .wrapper {
    border: none;
    box-shadow: none;
}

/* INPUT-MESSAGE */

.container input-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container input-message .error {
    color: transparent;
}

.container input-message .error.show {
    color: #eb3321;
    text-align: left;
}

.container input-message .required {
    color: var(--copyAlt-color);
    text-align: right;
    font-size: 12px;
}

/* INPUT-TEXT */
.container .wrapper input {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;

    width: 100%;
    height: 40px;
    flex: 1 1 auto;
}

[disabled] input:placeholder-shown::placeholder {
    color: transparent;
}

.container .wrapper:has(input:focus) {
    border: 1.5px solid var(--success-color);
}

.container .wrapper input:focus {
    border: none;
}

.container .wrapper .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
}

[disabled] .container .wrapper input {
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
    height: 24px;
}

[disabled] .container .wrapper .buttons {
    display: none;
}

/* INPUT-NUMBER */

.container input[type="number"] .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Removing Default Spinner */
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

/* INPUT-CHECKBOX */

.container:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.container:has(input[type="checkbox"]) input-label {
    order: 2;
}

.container:has(input[type="checkbox"]) .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 32px;
    height: 32px;
    background: var(--surface1-color);
    accent-color: var(--success-color);
    border: 2px solid var(--copyAlt-color);
    border-radius: 8px;
    min-width: 0;
    order: 1;
    position: relative;
    padding: 0;
}

.container input[type="checkbox"] {
    width: 32px;
    height: 32px;
}

.container:has(input[type="checkbox"]:checked) .wrapper {
    background: var(--success-color);
}

.container input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 12px;
    height: 17px;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    pointer-events: none;
    display: block;
}

.checkbox-container-disabled {
    display: none;
}

/* INPUT-TEXT-AREA */

.container textarea {
    padding: 8px 0;

    width: 100%;
    max-width: 100%;
    min-height: 15vh;
    max-height: 35vh;
    resize: vertical;

    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;

    width: 100%;
    flex: 1 1 auto;
}

.container .wrapper:has(textarea:focus) {
    outline: none;
    border: 1.5px solid var(--success-color);
}

.container .wrapper textarea:focus {
    outline: none;
    border: none;
}

[disabled] .wrapper textarea {
    background-color: transparent;
    border: none;
    padding: 0;
    resize: none;
    color: var(--copyAlt-color);
    height: auto;
    min-height: 0;

    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

[disabled] textarea:placeholder-shown::placeholder {
    color: transparent;
}

/* DROPDOWN-SELECT */

.container .dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40px;
}

.container .dropdown .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .dropdown:has(.options.open) {
    outline: none;
    border: 1.5px solid var(--success-color);
}

.container .dropdown .wrapper:has(input:focus) {
    outline: none;
}

.container .dropdown input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.container .dropdown .options {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    cursor: pointer;
    background-color: var(--surface2-color);

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.container .dropdown .options.open {
    max-height: 350px;
    opacity: 1;
    padding: 8px;
    overflow-y: auto;
    scrollbar-color: var(--copyAlt-color) var(--copy-color);
}

.container .dropdown li {
    display: flex;
    flex-direction: row;
    padding: 4px;
    flex: 1;
}

.container .dropdown li.active {
    background-color: rgba(var(--success-color-rgb), 0.5);
    align-items: center;
    justify-content: space-between;
}

[disabled] .container .dropdown {
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

[disabled] .container .dropdown web-button {
    display: none;
}

/* DROPDOWN-MULTI-SELECT */

.container .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.container .tag {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 4px 8px 4px 12px;
    border: 1px solid #454547;
    background: var(--success-color);
    color: var(--copy-color);
    font-size: 14px;
    font-weight: 600;
}

.container .remove-tag {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}

dropdown-multi-select[disabled] .container .dropdown {
    display: none;
}

[disabled] .tag {
    padding: 4px 12px;
    align-self: flex-start;
}

[disabled] #remove-tag {
    display: none;
}

/* EXCLUDES DROPDOWN */

.container .excludes-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: start;
    margin-bottom: 0.5rem;

    opacity: 0;
    transform: translateY(-20px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.container .excludes-container.show {
    opacity: 1;
    transform: translateY(0);
}

.container .excludes-container.removing {
    opacity: 0;
    transform: translateY(-50px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.container .excludes-container .dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
}

.container .excludes-container .dropdown-container label {
    font-size: 14px;
    font-weight: 500;
}

.container .excludes-container .dropdown-container dropdown-single-select,
dropdown-multi-select {
    flex: 1;
}

.container .excludes-container #excludes-minus-btn {
    display: flex;
    margin-top: 14px;
}

.container .excludes-table {
    display: none;
}

[disabled] .container .excludes-container {
    display: none;
}

[disabled] .container .excludes-table {
    display: flex;
    flex-direction: column;
    text-align: left;
}

[disabled] .container .excludes-table tr {
    display: flex;
    border-bottom: 2px solid rgba(var(--shadow-color-rgb), 0.3);
}

[disabled] .container .excludes-table th {
    width: 100%;
    padding: 8px;
    background-color: rgba(var(--surface2-color-rgb), 0.3);
    font-weight: 500;
    font-size: 14px;
}

[disabled] .container .excludes-table td {
    width: 100%;
    font-family: "Source Code Pro";
    color: var(--copyAlt-color);
    padding: 8px;
}

[disabled] .container .excludes-container #excludes-minus-btn {
    display: none;
}

dropdown-excludes #excludes-add-btn {
    display: flex;
    margin-top: 8px;
}

dropdown-excludes[disabled] #excludes-add-btn {
    display: none;
}

/* WEB-BUTTON */

web-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    border-radius: 18px;

    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);

    font-weight: 700;
}

web-button button svg {
    width: 24px;
    height: 24px;
}

web-button[data-theme="Primary"] button {
    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Primary"] button:hover {
    background-color: var(--surface2-color);
}

web-button[data-theme="Secondary"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Secondary"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

web-button[data-theme="Success"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--success-color);
}

web-button[data-theme="Sucess"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

web-button[data-theme="Tertiary"] button {
    background-color: var(--success-color);
    color: var(--copy-color);
    border: 2px solid var(--copyAlt-color);
}

web-button[data-theme="Tertiary"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.7);
}

web-button[data-theme="Shadow"] button {
    background-color: var(--shadow-color);
    color: var(--copy-color);
    border: 2px solid var(--shadow-color);
}

web-button[data-theme="Shadow"] button:hover {
    background-color: rgba(var(--shadow-color-rgb), 0.7);
}

web-button[data-theme="Error"] button {
    background-color: var(--error-color);
    color: var(--copy-color);
    border: 2px solid var(--error-color);
}

web-button[data-theme="Error"] button:hover {
    background-color: rgba(var(--error-color-rgb), 0.5);
}

web-button[data-theme="Warning"] button {
    background-color: var(--warning-color);
    color: var(--surface2-color);
    border: 2px solid var(--warning-color);
}

web-button[data-theme="Warning"] button:hover {
    background-color: rgba(var(--warning-color-rgb), 0.5);
}

web-button[data-theme="Icon"] button {
    background-color: transparent;
    color: var(--copy-color);
    border: none;
    padding: 0.3rem;
}

web-button[data-theme="Icon"] button:hover {
    background-color: var(--surface1-color);
    padding: 0.3rem;
}

web-button[data-theme="Icon-Success"] button {
    background-color: transparent;
    color: var(--success-color);
    border: 2px solid var(--success-color);
    padding: 0.5rem;
}

web-button[data-theme="Icon-Success"] button:hover {
    background-color: var(--surface1-color);
}

web-button[data-theme="Icon-Small"] button {
    background-color: transparent;
    color: var(--copy-color);
    border: none;
    padding: 0.3rem;
}

web-button[data-theme="Icon-Small"] button:hover {
    background-color: rgba(var(--surface1-color-rgb), 0.5);
    padding: 0.3rem;
}

web-button[data-theme="Icon-Small"] button svg {
    width: 16px;
    height: 16px;
}

web-button[data-theme="Small"] button {
    gap: 4px;
    padding: 0.2rem 1rem;

    background-color: var(--shadow-color);
    color: var(--copy-color);
    border: 2px solid var(--shadow-color);

    font-weight: 600;
    font-size: 14px;
}

web-button[data-theme="Small"] button svg {
    width: 16px;
    height: 16px;
}

web-button[data-theme="Small"] button:hover {
    background-color: var(--surface1-color);
}

web-button[data-theme="AddBtn"] button {
    background-color: var(--surface1-color);
    color: var(--copy-color);
    border: 1.5px solid var(--copyAlt-color);

    gap: 3px;
    padding: 0.3rem;
    padding: 4px 12px 4px 8px;

    font-weight: 500;
    font-size: 16px;
}

web-button[data-theme="AddBtn"] button:hover {
    background-color: rgba(var(--success-color-rgb), 0.5);
}

/* WEB-TOOLTIP */

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container .info-icon {
    position: relative;
    z-index: 20;
}

.tooltip-container .icon-wrapper svg {
    width: 20px;
    height: 20px;
}

.tooltip-container .tooltip-bubble {
    position: absolute;
    bottom: 100%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 10;
}

.tooltip-container .tooltip-bubble.show {
    opacity: 1;
    pointer-events: auto;
}

.tooltip-container .tooltip.left {
    background-color: #f2f2f2;
    color: #3d3d3d;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 300px;
    font-weight: 400;

    position: relative;
    z-index: 2;
    left: -10px;
    bottom: -4px;
    white-space: normal;
}

.tooltip-container .tooltip.right {
    background-color: #f2f2f2;
    color: #3d3d3d;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 300px;
    font-weight: 400;

    position: relative;
    z-index: 2;
    left: -270px;
    bottom: -4px;
    white-space: normal;
}

.tooltip-container .indicator {
    position: relative;
    z-index: 1;
    left: -140px;
    bottom: 8px;
}

/* WEB-MODAL */

web-modal {
    display: none;
}

#confirm-modal {
    /* Underlay covers entire screen. */
    position: fixed;
    inset: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 0.5;
    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
  required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#confirm-modal > .modal-content {
    margin-top: 30vh;
    display: flex;
    width: 80%;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    border-width: 0.125rem;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 26 / var(--tw-bg-opacity, 1));
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    --tw-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px -1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0px 2px 3px -1px var(--tw-shadow-color),
        0px 4px 5px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#confirm-modal .confirm-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-weight: 400;
    color: var(--copyAlt-color);
}

#confirm-modal .confirm-message ul {
    list-style-type: disc;
    padding-left: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}
