<div class="datatype new-form">
    <div class="page">
        <div class="header">
            <h2 id="data-name">New Template</h2>
        </div>
        <div class="content">
            <form id="my-form">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    Loading Form...
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                    ></json-form>
                </script>

                <div class="save-cancel">
                    <web-button
                        type="submit"
                        data-label="Save"
                        data-theme="Secondary"
                        data-righticon="save"
                        confirm-modal="save-modal"
                    >
                    </web-button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${window.API_BASE_URL}/template/new/form`);

    document.getElementById("my-form").addEventListener("submit", async function (event) {
        event.preventDefault(); // stop default form submission

        document.body.addEventListener("confirm-yes-clicked", async function (event) {
            const elem = document.querySelector("json-form");
            const form_data = JSON.parse(elem.serializeForm());
            const { name, ...rest } = form_data; // Need to remove name from the form

            // TODO: Do we need to set "url" to something here? Is url going to always remain the same?
            const data = {
                ref_set: [],
                type: "template",
                json: rest,
                name: name,
                created_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                // url: ""
            };

            console.log("Submitting data:", data);
            try {
                const response = await fetch(`${window.API_BASE_URL}/template`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });

                // TODO: Check if this works as expected
                console.log("Response: ", response);
                if (response.ok) {
                    const result = await response.json();

                    // Adding save message to sessionStorage
                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify(["Template saved successfully!", "Success"]),
                    );

                    let pathName = window.location.pathname;
                    if (pathName.includes("new")) {
                        window.location = "/templates/?id=" + result.id;
                    } else {
                        window.location = pathName + "?id=" + result.id;
                    }
                } else {
                    // Try to parse error message from response
                    let errorMsg = "Something went wrong.";
                    console.error("Error:", errorMsg);
                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify(["Something went wrong.", "Error"]),
                    );
                    processLastMessage();
                }
            } catch (error) {
                console.error("Error:", error);
                document.getElementById("response-container").innerText = "Something went wrong.";
            }
        });
    });
</script>
