<div class="host edit-form">
  <div class="page">
    <h2>Edit Group</h2>
    <div class="content">
      <form action="/dummy_api/group/response.json" method="POST">

        <!--
        Implementation notes for ssbaveja
        POST /api/address ->
          Create or Update Address
          This should be exactly what's in dummy_api/address/response.json
        GET /api/address/uuid-slug/json -> 
          Get instance JSON data for address identified by 'uuid-slug'
          This should be exactly what's in dummy_api/address/uuid-slug/json/response.json
        GET /api/address/uuid-slug/form ->
          Get instance JSON Data, plus form data identified by uuid-slug
          This should be exactly what's in dummy_api/address/uuid-slug/form/response.json
        GET /api/address/new/form ->
          Get form data with empty JSON object for new address
          This should be exactly what's in dummy_api/address/new/form/response.json
        DELETE /api/address/uuid-slug
          returns the deleted object exactly as /api/address/uuid-slug/json
        -->

        <fieldset id="content"
                hx-get="/dummy_api/group/uuid-slug/form/response.json"
                hx-trigger="load"
                nunjucks-template="example-template">
          Loading Form...
        </fieldset>

        <script src="/partials/customRenderer.js" type="module"></script>

        <script id="example-template" type="nunjucks">
          <json-form
            form-data='{{ form_data | dump }}'
            schema-data='{{ json_schema | dump }}'
            layout-data='{{ ui_schema | dump }}'
          ></json-form>
        </script>

        <div class="save-cancel">
          <web-button link="import_template_2.html" label="Delete" theme="error" righticon='trash-2'></web-button>
          <web-button link="import_template_2.html" label="Save" theme="secondary" righticon='save'></web-button>
          <web-button label="Cancel" theme="primary" righticon='x'></web-button>
        </div>
      </form>
    </div>
  </div>
</div>