<div class="datatype edit-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <web-button id="edit-icon" data-righticon="edit" data-theme="Icon"></web-button>
        </div>
        <div class="content">
            <form id="data-form" method="GET">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    Loading Form...
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data |
                          logger("logging form-data:") |
                          escape_property("_meta") |
                          dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                      readonly='true'
                    ></json-form>
                </script>

                <div class="edit-save-cancel">
                    <web-button
                        id="delete-btn"
                        type="button"
                        data-label="Delete"
                        data-theme="Error"
                        data-righticon="trash-2"
                        confirm-modal="delete-modal"
                    >
                    </web-button>
                    <web-button
                        id="save-btn"
                        type="submit"
                        data-label="Save"
                        data-theme="Secondary"
                        data-righticon="save"
                        confirm-modal="save-modal"
                    >
                    </web-button>
                    <web-button
                        type="button"
                        data-label="Cancel"
                        data-theme="Primary"
                        data-righticon="x"
                        data-link="javascript:history.back()"
                    >
                    </web-button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // const params = new URLSearchParams(window.location.search);
    // const id = params.get("id");

    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${window.API_BASE_URL}/group/{id}/form`);

    // toggle submenu
    if (psCompose.activeRoute.page_url == window.location.pathname) showSubmenu();

    // Set Up JSON Form
    document.body.addEventListener("json-form:mounted", (event) => {
        let elem = event.detail[0].target;

        // Header
        document.getElementById("data-name").textContent = elem?.data?.name;
        document
            .getElementById("edit-icon")
            .setAttribute("data-link", `/groups/?id=${id}&edit=true`);

        if (!!params.get("edit")) {
            document.querySelector("json-form").setAttribute("readonly", "false");
            hideSubmenu();
        }
    });

    // Save and submit the form and edit to readonly state
    document.getElementById("data-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        document
            .querySelector("#save-modal")
            .addEventListener("confirm-yes-clicked", async function (event) {
                const jsonForm = document.querySelector("json-form");
                const formData = JSON.parse(jsonForm.serializeForm());
                const { name, ...rest } = formData; // Need to remove name from the form

                // TODO: How would ref_set be updated? -> in backend sanitize_data function
                const updatedData = {
                    // Additional properties needed in order to sanitize the data
                    schema: JSON.parse(jsonForm.schemaData),
                    group_type: rest.type,

                    ref_set: [],
                    json: rest,
                    name: name,
                    last_edited_at: new Date().toISOString(),
                    last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                    // url: "",
                };

                try {
                    const response = await fetch(`${window.API_BASE_URL}/group/${id}`, {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(updatedData),
                    });
                    const result = await response.json();
                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify(
                            response.ok
                                ? ["Group saved successfully!", "Success"]
                                : ["Something went wrong.", "Error"],
                        ),
                    );
                    params.delete("edit");
                    window.location = window.location.pathname + "?" + params;
                } catch (error) {
                    console.error("Error:", error);
                }
            });
    });
</script>
