<web-modal id="save-modal" theme="Success" message="Are you sure mate?" confirm-label="Save">
</web-modal>

<web-modal id="delete-modal" theme="Error" message="Are you sure mate?" confirm-label="Delete">
</web-modal>

<script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");
    const dataType = psCompose.activeRoute.singular.toLowerCase();

    const saveBtn = document.querySelector("#save-modal");
    const saveMsg = "Are you sure you want to save this " + dataType + " ?";
    saveBtn.setAttribute("message", saveMsg);

    // Delete Datatype
    const deleteModal = document.querySelector("#delete-modal");
    const deleteMsg = "Are you sure you want to delete this " + dataType + " ?";
    deleteModal.setAttribute("message", deleteMsg);

    deleteModal.addEventListener("confirm-yes-clicked", async function (event) {
        const deleteSuccessMsg = "Successfully deleted " + dataType + "!";
        const deleteFailMsg = "Something went wrong while deleting" + dataType + ".";

        try {
            const response = await fetch(`${window.API_BASE_URL}/${dataType}/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
            });
            sessionStorage.setItem(
                "confirmMessage",
                JSON.stringify(
                    response.ok == true ? [deleteSuccessMsg, "Success"] : [deleteFailMsg, "Error"],
                ),
            );
            window.location = psCompose.activeRoute.page_url;
        } catch (error) {
            console.error("Error:", error);
        }
    });

    // TODO: How can I show the list of affected items using an API call to /address/find?
    /*
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id");
        try {
            const response = await fetch(`${window.API_BASE_URL}/address/${id}/find`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                }
            });
            const result = await response.json();
            console.log("delete button clicked ", response, result)
        } catch (error) {
            console.error("Error:", error);
        }
        */

    //        if (psCompose.activeRoute.section == "wizard") {
    //     document.querySelector("#save-btn").setAttribute("data-modaltheme", "Warning");
    // }
</script>
