<web-modal
    id="save-modal"
    theme="Success"
    question="Are you sure mate?"
    confirm-label="Save"
    icon="save"
>
</web-modal>

<web-modal
    id="delete-modal"
    theme="Error"
    question="Are you sure mate?"
    confirm-label="Delete"
    icon="trash-2"
>
</web-modal>

<script>
    var datatype = psCompose.activeRoute.singular.toLowerCase();

    // Insert api/find results
    function resultToHtml(result) {
        if (result.length === 0) {
            return `
            <div class="confirm-message">
                <h5>Making changes to this ${datatype} will not affect any existing data</h5>
            </div>
        `;
        } else {
            return `
            <div class="confirm-message">
                <h5>Making changes to this ${datatype} will impact the following:</h5>
                <ul>
                    ${result
                        .map(
                            (item) =>
                                `<li>${capitalizeFirstLetter(item.type)}: <a href="/${pluralWord(
                                    item.type,
                                )}/?id=${item.id}" target="_blank">${item.name}</a></li>`,
                        )
                        .join("")}
                </ul>
            </div>
            `;
        }
    }

    (async () => {
        let result = [];
        try {
            const response = await fetch(`${window.API_BASE_URL}${datatype}/${id}/find`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            });
            result = await response.json();
        } catch (error) {
            console.error("Error:", error);
        }
        deleteModal.setAttribute("message", resultToHtml(result));
    })();

    // Save Datatype
    var saveBtn = document.querySelector("#save-modal");
    var saveMsg = "Are you sure you want to save this " + datatype + " ?";
    saveBtn.setAttribute("question", saveMsg);

    // Delete Datatype
    var deleteModal = document.querySelector("#delete-modal");
    var deleteMsg = "Are you sure you want to delete this " + datatype + " ?";
    deleteModal.setAttribute("question", deleteMsg);

    function capitalizeFirstLetter(str) {
        if (!str) return str;
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    function pluralWord(str) {
        if (!str) return str;
        if (str === "address") return "addresses";
        else return str + "s";
    }
</script>
