<div class="datatype new-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <ps-input-checkbox-star></ps-input-checkbox-star>
        </div>
        <div class="content">
            <form id="data-new-form">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    <i class="spinner" data-lucide="loader-circle"></i>
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                    ></json-form>
                </script>

                <div class="save-cancel">
                    <ps-button type="submit" label="Save" theme="Secondary" righticon="save" confirm-modal="save-modal">
                    </ps-button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/scripts/dataForms/tools.js"></script>
<script src="/scripts/dataForms/mergeSchema.js"></script>
<script src="/scripts/dataForms/submitForm.js"></script>

<script>
    var params = new URLSearchParams(window.location.search);
    var datatype = psCompose.activeRoute.singular.toLowerCase();

    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${psCompose.activeRoute.list_endpoint}new/form/`);

    // Set Up JSON Form
    document.body.addEventListener("json-form:mounted", () => {
        document.getElementById("data-name").textContent = "New " + psCompose.activeRoute.singular;
    });

    // Change 
    document.getElementById("data-new-form").addEventListener("change", async function (event) {
        if (datatype == 'task') await renderTools(event);
        if (datatype === "test" || datatype === "archive") mergeSchema(event);
    });
    
    // Save
    document.getElementById("data-new-form").addEventListener("submit", (e) => formValidation(e));
</script>