<div class="datatype new-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <ps-input-checkbox-star></ps-input-checkbox-star>
        </div>
        <div class="content">
            <form id="data-new-form">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    <i class="spinner" data-lucide="loader-circle"></i>
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                    ></json-form>
                </script>

                <div class="save-cancel">
                    <ps-button
                        type="submit"
                        label="Save"
                        theme="Secondary"
                        righticon="save"
                        confirm-modal="save-modal"
                    >
                    </ps-button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    (function () {
        const datatype = psCompose.activeRoute.singular.toLowerCase();

        initJsonForm(`${psCompose.activeRoute.list_endpoint}new/form/`, () => {
            document.getElementById("data-name").textContent =
                "New " + psCompose.activeRoute.singular;
            runEditActions(datatype);
        });

        initFormSubmit("data-new-form");
    })();
</script>
