<div class="datatype edit-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <div class="header-icons">
                <ps-input-checkbox-star></ps-input-checkbox-star>
                <div class="action-icon">
                    <div class="tooltip">Edit Form</div>
                    <ps-button
                        id="edit-icon"
                        righticon="edit"
                        theme="Icon"
                        aria-label="Edit"
                    ></ps-button>
                </div>
                <div class="action-icon template" style="display: none">
                    <div class="tooltip">Download Template</div>
                    <ps-button
                        id="export-json-btn"
                        righticon="download"
                        theme="Icon"
                        aria-label="Download Template"
                    ></ps-button>
                </div>
                <div class="action-icon template" style="display: none">
                    <div class="tooltip">Copy Raw JSON URL</div>
                    <ps-button
                        id="copy-json-btn"
                        righticon="clipboard-copy"
                        theme="Icon"
                        aria-label="Copy Raw JSON URL"
                    ></ps-button>
                </div>
                <div class="action-icon template" style="display: none">
                    <div class="tooltip">Open Raw JSON</div>
                    <ps-button
                        id="url-json-btn"
                        righticon="file-json"
                        theme="Icon"
                        newtab="true"
                        aria-label="Open Raw JSON"
                    ></ps-button>
                </div>
                <div class="action-icon address" style="display: none">
                    <div class="tooltip">Template using this address</div>
                    <ps-button
                        id="address-template-btn"
                        righticon="locate"
                        theme="Icon"
                        aria-label="Template using this address"
                    ></ps-button>
                </div>
            </div>
        </div>
        <div class="content">
            <form id="data-edit-form" method="GET">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    <i class="spinner" data-lucide="loader-circle"></i>
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                      readonly='true'
                    ></json-form>
                </script>

                <div class="edit-save-cancel">
                    <ps-button
                        id="delete-btn"
                        type="button"
                        label="Delete"
                        theme="Error"
                        righticon="trash-2"
                        confirm-modal="delete-modal"
                    ></ps-button>
                    <ps-button
                        id="save-btn"
                        type="submit"
                        label="Save"
                        theme="Secondary"
                        righticon="save"
                        confirm-modal="save-modal"
                    ></ps-button>
                    <ps-button
                        id="cancel-btn"
                        type="button"
                        label="Cancel"
                        theme="Primary"
                        righticon="x"
                    ></ps-button>
                </div>
            </form>
            <div class="refset" style="display: none">
                <h6 class="refset-name">References</h6>
                <div class="refset-container"></div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id");
        const datatype = psCompose.activeRoute.singular.toLowerCase();
        let elem = null;

        if (
            psCompose.activeMenuItem !== "wizard" &&
            psCompose.activeMenuItem !== "import" &&
            window.innerWidth > 1025
        ) {
            showSubnav();
        }

        initJsonForm(`${psCompose.activeRoute.list_endpoint}${id}/form/`, (event) => {
            elem = JSON.parse(event.target.closest("json-form")?.getAttribute("form-data"));
            editMode(params.get("edit"));

            document.getElementById("data-name").textContent = elem?.name;
            document.querySelectorAll(".confirm-data-name").forEach((el) => {
                el.textContent = elem?.data?.name || "";
            });
            setUpFavorites(id);
            attachFavoritesHandler(id);
        });

        function editMode(bool) {
            const form = document.querySelector("json-form");
            form.setAttribute("readonly", String(!bool));

            if (bool) {
                hideSubnav();
                runEditActions(datatype, elem?.name);
            } else {
                runReadonlyActions(datatype);
            }
        }

        document.getElementById("edit-icon").addEventListener("click", () => {
            const url = new URL(window.location.href);
            url.searchParams.set("id", id);
            url.searchParams.set("edit", "true");
            window.history.pushState({}, "", url.toString());
            editMode(true);
        });

        document.getElementById("cancel-btn").addEventListener("click", () => {
            window.history.back();
            window.addEventListener("popstate", () => window.location.reload(), { once: true });
        });

        initFormSubmit("data-edit-form");

        document.getElementById("delete-btn").addEventListener("click", () => {
            document.dispatchEvent(new Event("validated"));
            deleteModal.addEventListener("confirm-yes-clicked", async () => {
                try {
                    const response = await fetch(`${window.API_BASE_URL}/${datatype}/${id}/`, {
                        method: "DELETE",
                        headers: { "Content-Type": "application/json" },
                    });
                    if (!response.ok) throw new Error(`HTTP error ${response.statusText}`);
                    newMessageBanner(`Successfully deleted ${datatype}!`, "Success", false);
                    window.location = psCompose.activeRoute.page_url;
                } catch (error) {
                    console.error("Error:", error);
                    newMessageBanner(error.message, "Error", true);
                }
            });
        });

        window.addEventListener("popstate", () => editMode(params.get("edit")));
    })();
</script>
