<div class="datatype edit-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <div class="header-icons">
                <ps-input-checkbox-star></ps-input-checkbox-star>
                <div class="action-icon">
                    <div class="tooltip">Edit Form</div>
                    <ps-button id="edit-icon" righticon="edit" theme="Icon"> </ps-button>
                </div>
                <div class="action-icon">
                    <div class="tooltip">Download Template</div>
                    <ps-button
                        id="export-json-btn"
                        righticon="download"
                        theme="Icon"
                        style="display: none"
                    ></ps-button>
                </div>
                <div class="action-icon">
                    <div class="tooltip">Copy Template JSON to Clipboard</div>
                    <ps-button
                        id="copy-json-btn"
                        righticon="clipboard-copy"
                        theme="Icon"
                        style="display: none"
                    ></ps-button>
                </div>
            </div>
        </div>
        <div class="content">
            <form id="data-edit-form" method="GET">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    <i class="spinner" data-lucide="loader-circle"></i>
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                      readonly='true'
                    ></json-form>
                </script>

                <div class="edit-save-cancel">
                    <ps-button
                        id="delete-btn"
                        type="button"
                        label="Delete"
                        theme="Error"
                        righticon="trash-2"
                        confirm-modal="delete-modal"
                    >
                    </ps-button>
                    <ps-button
                        id="save-btn"
                        type="submit"
                        label="Save"
                        theme="Secondary"
                        righticon="save"
                        confirm-modal="save-modal"
                    >
                    </ps-button>
                    <ps-button
                        type="button"
                        label="Cancel"
                        theme="Primary"
                        righticon="x"
                        link="javascript:history.back()"
                    >
                    </ps-button>
                </div>
            </form>
            <div class="refset">
                <h6 class="refset-name">References</h6>
                <div class="refset-container"></div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/dataForms/tools.js"></script>
<script src="/scripts/dataForms/mergeSchema.js"></script>
<script src="/scripts/dataForms/submitForm.js"></script>

<script>
    var params = new URLSearchParams(window.location.search);
    var id = params.get("id");
    var datatype = psCompose.activeRoute.singular.toLowerCase();

    // Open subnav when not wizard page
    if (
        psCompose.activeMenuItem !== "wizard" &&
        psCompose.activeMenuItem !== "import" &&
        window.innerWidth > 1025
    ) {
        showSubnav();
    }

    function editMode(bool) {
        document.querySelector("json-form").setAttribute("readonly", String(!bool));

        if (bool) {
            // EDIT MODE
            hideSubnav();

            // For each datatype update as needed
            if (datatype == "task") filterTools();
            if (datatype == "group") invalidRefsetRender();
            if (datatype == "test") invalidRefsetRender();
        } else {
            // READONLY

            // For each datatype update as needed
            if (datatype == "template") {
                const exportBtn = document.getElementById("export-json-btn");
                exportBtn.style.display = "block";
                exportBtn.addEventListener("click", async () => {
                    await exportTemplateJSON(id, elem?.data?.name);
                });
                const copyBtn = document.getElementById("copy-json-btn");
                copyBtn.style.display = "block";
                copyBtn.addEventListener("click", async () => {
                    await copyTemplateJSON(id, elem?.data?.name);
                });
            }
        }
    }

    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${psCompose.activeRoute.list_endpoint}${id}/form/`);

    // Setting edit-icon
    document.getElementById("edit-icon").addEventListener("click", (event) => {
        const url = new URL(window.location.href);
        url.searchParams.set("id", id);
        url.searchParams.set("edit", "true");

        window.history.pushState({}, "", url.toString());
        editMode(true);
    });

    window.addEventListener("popstate", (event) => {
        editMode(params.get("edit"));
    });

    // Set Up JSON Form
    document.getElementById("data-edit-form").addEventListener("json-form:mounted", (event) => {
        let elem = event.detail[0].target;
        document.getElementById("data-name").textContent = elem?.data?.name;
        editMode(params.get("edit"));

        // Render Refset
        if (psCompose.activeMenuItem != "wizard")
            loadSection(`${psCompose.activeRoute.list_endpoint}${id}/find/`, ".refset-container");

        // Favorites Set Up
        setUpFavorites(id);
        attachFavoritesHandler(id);

        document.querySelectorAll("ps-modal").forEach((modal) => {
            modal.setAttribute("confirm-data-name", elem?.data?.name || "");
        });
    });

    // Change
    document.getElementById("data-edit-form").addEventListener("change", async function (event) {
        if (datatype == "task") await renderTools(event);
        if (datatype === "test" || datatype === "archive") mergeSchema(event);
    });

    // Save
    document.getElementById("data-edit-form").addEventListener("submit", (e) => formValidation(e));

    // Delete
    document.getElementById("delete-btn").addEventListener("click", async function (event) {
        document.dispatchEvent(new Event("validated"));
        deleteModal.addEventListener("confirm-yes-clicked", async function (event) {
            try {
                const response = await fetch(`${window.API_BASE_URL}/${datatype}/${id}/`, {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json" },
                });
                if (!response.ok) throw new Error(`HTTP error ${response.statusText}`);
                newMessageBanner(`Successfully deleted ${datatype}!`, "Success", false);
                window.location = psCompose.activeRoute.page_url;
            } catch (error) {
                console.error("Error:", error);
                newMessageBanner(error.message, "Success", true);
            }
        });
    });

    // Invalid Parent When Delete (CASE: Group -> Task || Test -> Task )
    function invalidRefsetRender() {
        const refsetContainer = document.querySelector(".refset-container");
        const allHaveIds = Array.from(refsetContainer.children).every((child) => child.id);
        const idsArray = Array.from(refsetContainer.children)
            .map((child) => child.id)
            .filter((id) => id);

        if (!(refsetContainer && refsetContainer.children.length > 0 && allHaveIds)) return;
        document.querySelector("#delete-btn").disabled = true;
        const tooltip = document.createElement("ps-tooltip");
        tooltip.setAttribute("desc", "Delete blocked: This will break the parent template");
        document.querySelector(".refset").querySelector("h6").appendChild(tooltip);

        /* V1.1TODO: Add delete all button */
        // Might need to collect a list of parent template it affects by deleting all tasks
    }
</script>
