<div class="edit-save-cancel">
    <web-button
        id="delete-btn"
        type="button"
        data-label="Delete"
        data-theme="Error"
        data-righticon="trash-2"
        confirm-modal="delete-modal"
    >
    </web-button>
    <web-button
        id="save-btn"
        type="submit"
        data-label="Save"
        data-theme="Secondary"
        data-righticon="save"
        confirm-modal="save-modal"
    >
    </web-button>
    <web-button
        type="button"
        data-label="Cancel"
        data-theme="Primary"
        data-righticon="x"
        data-link="javascript:history.back()"
    >
    </web-button>
</div>
