<div class="datatype edit-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <web-button id="edit-icon" data-righticon="edit" data-theme="Icon"></web-button>
        </div>
        <div class="content">
            <form id="data-form" method="GET">
                <fieldset
                    id="content"
                    hx-trigger="load"
                    nunjucks-template="example-template"
                ></fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                      readonly='true'
                    ></json-form>
                </script>

                <div class="edit-save-cancel">
                    <web-button
                        id="delete-btn"
                        type="button"
                        data-label="Delete"
                        data-theme="Error"
                        data-righticon="trash-2"
                        confirm-modal="delete-modal"
                    >
                    </web-button>
                    <web-button
                        id="save-btn"
                        type="submit"
                        data-label="Save"
                        data-theme="Secondary"
                        data-righticon="save"
                        confirm-modal="save-modal"
                    >
                    </web-button>
                    <web-button
                        type="button"
                        data-label="Cancel"
                        data-theme="Primary"
                        data-righticon="x"
                        data-link="javascript:history.back()"
                    >
                    </web-button>
                    <div hx-get="/partials/confirm-modals.html" hx-trigger="load"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");
    const datatype = psCompose.activeRoute.singular.toLowerCase();

    // Open submenu when not wizard page
    if (psCompose.activeRoute.section != "wizard") showSubmenu();

    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${psCompose.activeRoute.list_endpoint}${id}/form`);

    // Set Up JSON Form
    document.body.addEventListener("json-form:mounted", (event) => {
        let elem = event.detail[0].target;

        // Header
        document.getElementById("data-name").textContent = elem?.data?.name;
        document
            .getElementById("edit-icon")
            .setAttribute("data-link", `${psCompose.activeRoute.page_url}?id=${id}&edit=true`);

        if (!!params.get("edit")) {
            document.querySelector("json-form").setAttribute("readonly", "false");
            hideSubmenu();
        }
    });

    // Save
    document.getElementById("data-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        if (!document.querySelector("json-form").validate()) {
            // GROUP FORM CANT BE SUBMITTED -> mIGHT BE BECUASE OF THE REQUIRED ARRAY FIELDS
            sessionStorage.setItem(
                "confirmMessage",
                JSON.stringify(["Form fields not all valid", "Error"]),
            );
            processLastMessage();

            // Render "is required property" errors
            document.querySelectorAll("input-message").forEach((event) => {
                if (event.errors == "is a required property")
                    event.querySelector(".input-message").classList.add("error");
            });
        } else {
            document.querySelector("json-form").dispatchEvent(new Event("validated"));
            document
                .querySelector("#save-modal")
                .addEventListener("confirm-yes-clicked", async function (event) {
                    // 1. Retrieve jsonform data
                    const elem = document.querySelector("json-form");
                    const form_data = JSON.parse(elem.serializeForm());
                    const { name, ...rest } = form_data; // Need to remove name from the form

                    // TODO: How would ref_set be updated? -> in backend sanitize_data function
                    const updated_data = {
                        ref_set: [],
                        json: rest,
                        name: name,
                        last_edited_at: new Date().toISOString(),
                        last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                        // url: "",
                    };

                    // 1.1 Additional properties added according to datatype
                    if (datatype == "group") {
                        updated_data.schema = JSON.parse(elem.schemaData);
                        updated_data.group_type = rest.type;
                    }

                    // 2. Put request to api
                    try {
                        const response = await fetch(`${window.API_BASE_URL}/${datatype}/${id}`, {
                            method: "PUT",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(updated_data),
                        });
                        if (!response.ok) throw new Error(`HTTP error ${response.statusText}`);

                        savemsg = psCompose.activeRoute.singular + " saved successfully!";
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify([savemsg, "Success"]),
                        );

                        // 3. Redirect
                        params.delete("edit");
                        window.location = window.location.pathname + "?" + params;
                    } catch (error) {
                        console.error("Error:", error);
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify(["Something went wrong.", "Error"]),
                        );
                        processLastMessage();
                    }
                });
        }
    });

    // Delete
    document.getElementById("delete-btn").addEventListener("click", async function (event) {
        document
            .querySelector("#delete-modal")
            .addEventListener("confirm-yes-clicked", async function (event) {
                const deleteSuccessMsg = "Successfully deleted " + datatype + "!";
                const deleteFailMsg = "Something went wrong while deleting" + datatype + ".";

                try {
                    const response = await fetch(`${window.API_BASE_URL}/${datatype}/${id}`, {
                        method: "DELETE",
                        headers: { "Content-Type": "application/json" },
                    });
                    if (!response.ok) throw new Error(`HTTP error ${response.statusText}`);

                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify([deleteSuccessMsg, "Success"]),
                    );
                    window.location = psCompose.activeRoute.page_url;
                } catch (error) {
                    console.error("Error:", error);
                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify([deleteFailMsg, "Success"]),
                    );
                    processLastMessage();
                }
            });
    });
</script>
