<div class="left-nav">
<ul>

  <li class="parent-item" data-submenu="submenu-templates">
    <a class="left-nav-item" href="/templates/">
      <i data-lucide="locate" style="width: 48px; height: 48px;"></i>
      Templates
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-tasks">
    <a class="left-nav-item" href="/tasks/">
      <i data-lucide="clipboard-list" style="width: 48px; height: 48px;"></i>
      Tasks
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-contexts">
    <a class="left-nav-item" href="/contexts/">
      <i data-lucide="file-question" style="width: 48px; height: 48px;"></i>
      Contexts
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-tests">
    <a class="left-nav-item" href="/tests/">
      <i data-lucide="flask-conical" style="width: 48px; height: 48px;"></i>
      Tests
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-archives">
    <a class="left-nav-item" href="/archives/">
      <i data-lucide="database" style="width: 48px; height: 48px;"></i>
      Archives
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-schedules">
    <a class="left-nav-item" href="/schedules/">
      <i data-lucide="calendar-check" style="width: 48px; height: 48px;"></i>
      Schedules
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-groups">
    <a class="left-nav-item" href="/groups/">
      <i data-lucide="group" style="width: 48px; height: 48px;"></i>
      Groups
    </a>
  </li>

  <li class="parent-item" data-submenu="submenu-hosts">
    <a class="left-nav-item" href="/addresses/">
      <i data-lucide="hard-drive-download" style="width: 48px; height: 48px;"></i>
      Addresses
    </a>
  </li>

</ul>
