<nav class="backdrop" hx-ext="client-side-templates">

  <div class="left-nav">
  <ul>

    <li class="parent-item left-nav-item" id="templates" data-submenu="templates">
        <i data-lucide="locate" style="width: 2.3rem; height: 2.3rem;"></i>
        Templates
    </li>

    <li class="parent-item left-nav-item" id="tasks" data-submenu="tasks">
        <i data-lucide="clipboard-list" style="width: 2.3rem; height: 2.3rem;"></i>
        Tasks
    </li>

    <li class="parent-item left-nav-item" id="contexts" data-submenu="contexts">
        <i data-lucide="file-question" style="width: 2.3rem; height: 2.3rem;"></i>
        Contexts
    </li>

    <li class="parent-item left-nav-item" id="tests" data-submenu="tests">
        <i data-lucide="flask-conical" style="width: 2.3rem; height: 2.3rem;"></i>
        Tests
    </li>

    <li class="parent-item left-nav-item" id="archives" data-submenu="archives">
        <i data-lucide="database" style="width: 2.3rem; height: 2.3rem;"></i>
        Archives
    </li>

    <li class="parent-item left-nav-item" id="schedules" data-submenu="schedules">
        <i data-lucide="calendar-check" style="width: 2.3rem; height: 2.3rem;"></i>
        Schedules
    </li>

    <li class="parent-item left-nav-item" id="groups" data-submenu="groups">
        <i data-lucide="group" style="width: 2.3rem; height: 2.3rem;"></i>
        Groups
    </li>

    <li class="parent-item left-nav-item" id="addresses" data-submenu="addresses">
        <i data-lucide="hard-drive-download" style="width: 2.3rem; height: 2.3rem;"></i>
        Addresses
    </li>

  </ul>
  </div>

  <div class="submenu-container">
  </div>

  <script id="submenu-template" type="nunjucks">
    <div class='submenu show'>
      <h1>{{data.psCompose.menu[data.psCompose.activeMenuItem].plural}}</h1>
      <ul>
        <li>
          <i data-lucide="plus"></i>
          <a href="{{data.psCompose.menu[data.psCompose.activeMenuItem].page_url}}">
            New {{data.psCompose.menu[data.psCompose.activeMenuItem].singular}}
          </a>
        </li>
        {% for item in data %}
          <li>
            <i data-lucide="{{data.psCompose.menu[data.psCompose.activeMenuItem].icon}}"></i>
            <a href="#">{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </script>
</nav>


<script>
  function toggleSubmenu(){
    let container = document.querySelector(".submenu-container");
    container.innerHTML = `
      <div
        hx-get='${psCompose.menu[psCompose.activeMenuItem].list_endpoint}'
        hx-trigger='load'
        hx-target='.submenu-container'
        nunjucks-array-template="submenu-template"
        hx-vals='{ "psCompose": ${JSON.stringify(psCompose)} }'>
      </div>`;
    htmx.process(container);
  }

  function untoggleSubmenu() {
    let container = document.querySelector(".submenu-container");
    container.innerHTML = `
      <div
        hx-get='${psCompose.menu[psCompose.activeMenuItem].list_endpoint}'
        hx-trigger='load'
        hx-target="submenu-template"
        nunjucks-array-template='.submenu-container'
        hx-vals='{ "psCompose": ${JSON.stringify(psCompose)} }'>
      </div>`;
    htmx.process(container);
  }
  function renderHighlight(){
    let activeMenuItem = psCompose.activeMenuItem;
    let activeElement = document.querySelector(`.left-nav #${activeMenuItem}`);
    activeElement?.classList.add("active");
  }
  renderHighlight();

  document.querySelectorAll(`.left-nav .parent-item`).forEach((elem)=>{
    elem.classList.remove("active");
    elem.addEventListener("click", function(){
      if (elem?.classList.contains("active")) {
        elem?.classList.remove("active");
        untoggleSubmenu();
        psCompose.activeMenuItem = 'None';
        updateShortCutsVisibility();
      } else {
        psCompose.activeMenuItem = elem.getAttribute('data-submenu');
        updateShortCutsVisibility();
        toggleSubmenu();
        renderHighlight();
      }
    });
  })
</script>