<nav class="top-nav" aria-label="Top Navigation">
    <div class="top-left">
        <a href="/" aria-label="Go to homepage">
            <img class="Logo" src="/mockups/static/perfsonar-icon.png" alt="Perfsonar Icon" />
            <span class="pscompose">pSCompose</span>
        </a>
    </div>

    <div class="top-right">
        <a href="https://docs.perfsonar.net/index.html" aria-label="README" class="readme">README</a>
        <web-button
            theme="Icon"
            righticon="user-circle-2"
            aria-label="User account"
        >
        </web-button>
    </div>
</nav>
