<nav class="menu" aria-label="Menu Navigation">
    <ul class="left-nav" role="menu" aria-label="Primary menu" aria-orientation="vertical">
        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="template"
            data-submenu="template"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-templates"
        >
            <i data-lucide="locate" style="width: 2rem; height: 2rem" aria-hidden="true"></i>
            <p>Templates</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="task"
            data-submenu="task"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-tasks"
        >
            <i
                data-lucide="clipboard-list"
                style="width: 2rem; height: 2rem"
                aria-hidden="true"
            ></i>
            <p>Tasks</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="context"
            data-submenu="context"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-contexts"
        >
            <i data-lucide="file-question" style="width: 2rem; height: 2rem" aria-hidden="true"></i>
            <p>Contexts</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="test"
            data-submenu="test"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-tests"
        >
            <i data-lucide="flask-conical" style="width: 2rem; height: 2rem" aria-hidden="true"></i>
            <p>Tests</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="archive"
            data-submenu="archive"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-archives"
        >
            <i data-lucide="database" style="width: 2rem; height: 2rem" aria-hidden="true"></i>
            <p>Archives</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="schedule"
            data-submenu="schedule"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-schedules"
        >
            <i
                data-lucide="calendar-check"
                style="width: 2rem; height: 2rem"
                aria-hidden="true"
            ></i>
            <p>Schedules</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="group"
            data-submenu="group"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-groups"
        >
            <i data-lucide="group" style="width: 2rem; height: 2rem" aria-hidden="true"></i>
            <p>Groups</p>
        </li>

        <li
            role="menuitem"
            class="parent-item left-nav-item"
            id="address"
            data-submenu="address"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-content-addresses"
        >
            <i
                data-lucide="hard-drive-download"
                style="width: 2rem; height: 2rem"
                aria-hidden="true"
            ></i>
            <p>Addresses</p>
        </li>
    </ul>

    <div
        class="submenu-container hidden"
        role="region"
        aria-live="polite"
        aria-label="Submenu content"
    ></div>

    <script id="submenu-template" type="nunjucks">
        <div class='submenu' id='submenu-content' role='region' aria-label='{{data.psCompose.menu[data.psCompose.activeMenuItem].plural}} submenu'>
            <div class="submenu-header">
                <h1>{{data.psCompose.menu[data.psCompose.activeMenuItem].plural}}</h1>
                <web-button
                    link="{{data.psCompose.menu[data.psCompose.activeMenuItem].page_url ~ 'new/'}}"
                    theme="AddBtn"
                    lefticon="plus"
                    label="New"
                    aria-labelledby="submenu-title"
                    >
                </web-button>
            </div>
            <input
                type="text"
                id="submenu-search"
                placeholder="Search {{data.psCompose.menu[data.psCompose.activeMenuItem].singular}}"
                aria-label="Search {{data.psCompose.menu[data.psCompose.activeMenuItem].singular}}"
            />
            <ul id="submenu-list" aria-label="Submenu List">
                {% for item in data %}
                <li id="{{item.id}}" class="submenu-item">
                    <i data-lucide="{{data.psCompose.menu[data.psCompose.activeMenuItem].icon}}" aria-hidden="true"></i>
                    <h5>{{item.name}}</h5>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </script>
</nav>

<script>
    const menuContainer = document.querySelector(".menu");
    const submenuContainer = document.querySelector(".submenu-container");
    const parentMenuItems = document.querySelectorAll(".left-nav .parent-item");

    const wait = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

    const clearActiveClasses = (selector) => {
        document.querySelectorAll(selector).forEach((el) => {
            el.setAttribute("aria-expanded", "false");
            el.classList.remove("active");
        });
    };

    function highlightActiveSubmenu(activeId) {
        if (!activeId) return;
        clearActiveClasses(".submenu li.active");
        const activeElement = document.querySelector(`.submenu [id="${activeId}"]`);
        if (activeElement) activeElement.classList.add("active");
    }

    function renderHighlight() {
        clearActiveClasses(".left-nav .parent-item");
        const activeMenuItem = document.querySelector(`.left-nav #${psCompose.activeMenuItem}`);
        if (!activeMenuItem) return;
        activeMenuItem.classList.add("active");
        activeMenuItem.setAttribute("aria-expanded", "true");
        highlightActiveSubmenu(psCompose.activeRoute?.id);
    }

    function loadSubMenuPage(url, id) {
        if (!url || !id) return;

        const newUrl = `${url}?id=${id}`;
        if (window.location.pathname !== url) {
            window.location = newUrl;
            return;
        }

        window.history.pushState({}, "", newUrl);
        psCompose.activeRoute.id = id;

        htmx.ajax("GET", psCompose.activeRoute.page_template, "#router-target");
        highlightActiveSubmenu(id);
    }

    window.addEventListener("popstate", (event) => {
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id");

        if (!id) return;

        psCompose.activeRoute.id = id;
        htmx.ajax("GET", psCompose.activeRoute.page_template, "#router-target");
        highlightActiveSubmenu(id);
    });

    function filterSubmenuItems(searchValue) {
        const filter = searchValue.trim().toLowerCase();
        const items = document.querySelectorAll("#submenu-list li");

        items.forEach((li) => {
            const text = li.textContent.toLowerCase();
            li.style.display = text.includes(filter) ? "" : "none";
        });
    }

    async function showSubmenu() {
        if (submenuContainer.classList.contains("open")) return;
        if (shortcutsContainer.classList.contains("open")) await hideShortcuts();

        submenuContainer.classList.remove("hidden");
        submenuContainer.offsetWidth; // Force reflow
        submenuContainer.classList.remove("close");

        submenuContainer.innerHTML = `
          <div
            hx-get='${psCompose.menu[psCompose.activeMenuItem].list_endpoint}'
            hx-trigger='load'
            hx-target='.submenu-container'
            nunjucks-array-template="submenu-template"
            hx-context='${JSON.stringify({ psCompose })}'>
          </div>`;

        htmx.process(submenuContainer);
        renderHighlight();
        submenuContainer.classList.add("open");
    }

    async function hideSubmenu() {
        psCompose.activeMenuItem = null;
        if (submenuContainer.classList.contains("hidden")) return;

        clearActiveClasses(".left-nav .parent-item");
        submenuContainer.classList.remove("open");
        submenuContainer.classList.add("close");

        await wait(200);

        submenuContainer.classList.add("hidden");
        submenuContainer.classList.remove("close");
    }

    submenuContainer.addEventListener("input", (e) => {
        if (e.target.id === "submenu-search") {
            filterSubmenuItems(e.target.value);
        }
    });

    submenuContainer.addEventListener("click", (e) => {
        const li = e.target.closest("li.submenu-item");
        if (!li) return;
        const url = psCompose.menu[psCompose.activeMenuItem].page_url;
        loadSubMenuPage(url, li.id);
    });

    document.body.addEventListener("htmx:afterSwap", (e) => {
        if (e.target.classList.contains("submenu-container") && psCompose.activeRoute?.id) {
            highlightActiveSubmenu(psCompose.activeRoute.id);
        }
    });

    parentMenuItems.forEach((elem) => {
        elem.addEventListener("click", async () => {
            const clickedMenu = elem.dataset.submenu;
            const curActiveMenuItem = psCompose.activeMenuItem;

            await hideSubmenu();

            if (curActiveMenuItem === clickedMenu) {
                if (window.location.pathname == "/") showShortcuts();
                return;
            }

            psCompose.activeMenuItem = clickedMenu;
            showSubmenu();
        });
    });
</script>
