<nav class="top-nav" aria-label="Top Navigation">
    <div class="top-left">
        <a href="/" aria-label="Go to homepage">
            <img class="Logo" src="/static/perfsonar-icon-light.png" alt="Perfsonar Icon" />
            <span class="pscompose">pSCompose</span>
        </a>
    </div>

    <div class="top-right">
        <a href="https://docs.perfsonar.net/index.html" aria-label="README" class="readme">README</a>
        <web-button
            theme="Icon"
            righticon="user-circle-2"
            aria-label="User account"
        >
        </web-button>
        <input-switch id="theme-switch" checked></input-switch>
    </div>
</nav>

<script>
  const html = document.documentElement;
  const themeSwitch = document.getElementById('theme-switch');

  // Set initial theme from localStorage (default 'light    ')
  const savedTheme = localStorage.getItem('theme') || 'light';
  html.setAttribute('data-theme', savedTheme);
  themeSwitch.checked = savedTheme === 'dark';
  
  // Toggle handler
  themeSwitch.addEventListener('change', () => {
    const newLogo = themeSwitch.checked ? '/static/perfsonar-icon-light.png' : '/static/perfsonar-icon-dark.png';
    document.querySelector('.Logo').src = newLogo;
    const newTheme = themeSwitch.checked ? "dark" : "light";
    html.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
  });
</script>
