<div class="datatype new-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
        </div>
        <div class="content">
            <form id="data-form">
                <fieldset
                    id="content"
                    hx-trigger="load"
                    nunjucks-template="example-template"
                ></fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                    ></json-form>
                </script>

                <div class="save-cancel">
                    <web-button
                        type="submit"
                        data-label="Save"
                        data-theme="Secondary"
                        data-righticon="save"
                        confirm-modal="save-modal"
                    >
                    </web-button>
                    <div hx-get="/partials/confirm-modals.html" hx-trigger="load"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");
    const datatype = psCompose.activeRoute.singular.toLowerCase();

    // Setting attributes dynamically
    document.querySelector(".header #data-name").textContent =
        "New " + psCompose.activeRoute.singular;
    document
        .getElementById("content")
        .setAttribute("hx-get", `${psCompose.activeRoute.list_endpoint}new/form`);

    // Save
    document.getElementById("data-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        if (!document.querySelector("json-form").validate()) {
            sessionStorage.setItem(
                "confirmMessage",
                JSON.stringify(["Form fields not all valid", "Error"]),
            );
            processLastMessage();

            // Render "is required property" errors
            document.querySelectorAll("input-message").forEach((event) => {
                if (event.errors == "is a required property")
                    event.querySelector(".input-message").classList.add("error");
            });
        } else {
            document.querySelector("json-form").dispatchEvent(new Event("validated"));
            document
                .querySelector("#save-modal")
                .addEventListener("confirm-yes-clicked", async function (event) {
                    // 1. Retrieve jsonform data
                    const elem = document.querySelector("json-form");
                    const form_data = JSON.parse(elem.serializeForm());
                    const { name, ...rest } = form_data; // Need to remove name from the form

                    // TODO: Do we need to set "url" to something here? Is url going to always remain the same?
                    const data = {
                        ref_set: [],
                        type: datatype,
                        json: rest,
                        name: name,
                        created_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                        last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                        // url: ""
                    };

                    // 1.1 Additional properties added according to datatype
                    if (datatype == "group") {
                        data.schema = JSON.parse(elem.schemaData);
                        data.group_type = rest.type;
                    }

                    // 2. Post request to api
                    try {
                        const response = await fetch(`${psCompose.activeRoute.list_endpoint}`, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(data),
                        });

                        if (!response.ok) throw new Error(`HTTP error ${response.statusText}`);
                        const result = await response.json();

                        savemsg = psCompose.activeRoute.singular + " saved successfully!";
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify([savemsg, "Success"]),
                        );

                        // 3. Redirect
                        let pathName = window.location.pathname;
                        window.location = psCompose.activeRoute.page_url + "?id=" + result.id;
                    } catch (error) {
                        console.error("Error:", error);
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify(["Something went wrong.", "Error"]),
                        );
                        processLastMessage();
                    }
                });
        }
    });

    document.getElementById("data-form").addEventListener("change", async function (event) {
        event.preventDefault();
        console.log("Change event detected:", event, event.target.name);
        if (event.target.label === "Type") {
            const selectedType = event.target.value;
            console.log("Selected type:", selectedType);

            // Example: Load a new schema depending on selected type
            let additionalSchema = {
                schema: 1,
                name: "idle",
                description: "Consume time in the background",
                version: "1.0",
                maintainer: {
                    name: "perfSONAR Development Team",
                    email: "perfsonar-developer@internet2.edu",
                    href: "http://www.perfsonar.net",
                },
                "scheduling-class": "background",
                spec: {
                    jsonschema: {
                        versions: {
                            1: {
                                additionalProperties: false,
                                properties: {
                                    duration: {
                                        title: "Duration",
                                        pattern:
                                            "^P(?:\\d+(?:\\.\\d+)?W)?(?:\\d+(?:\\.\\d+)?D)?(?:T(?:\\d+(?:\\.\\d+)?H)?(?:\\d+(?:\\.\\d+)?M)?(?:\\d+(?:\\.\\d+)?S)?)?$",
                                        type: "string",
                                        "x-invalid-message":
                                            "'%s' is not a valid ISO 8601 duration.",
                                    },
                                    /*
                                    "host": {
                                        "anyOf": [
                                            {
                                                "maxLength": 255,
                                                "minLength": 1,
                                                "pattern": "^[A-Za-z0-9_][A-Za-z0-9\\-]{0,62}(\\.[A-Za-z0-9][A-Za-z0-9\\-]{1,62})*\\.?$",
                                                "type": "string",
                                                "title": "Host"
                                            },
                                            {
                                                "oneOf": [
                                                    {
                                                        "format": "ipv4",
                                                        "type": "string"
                                                    },
                                                    {
                                                        "format": "ipv6",
                                                        "type": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    */
                                    "host-node": {
                                        pattern:
                                            "(^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9])(:[0-9]+)?$)|(^\\[(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))\\](:[0-9]+)?$)",
                                        type: "string",
                                        title: "Host Node",
                                    },
                                    "parting-comment": {
                                        type: "string",
                                        title: "Parting Comment",
                                    },
                                    schema: {
                                        enum: [1],
                                        type: "integer",
                                        title: "Schema Version",
                                    },
                                    "starting-comment": {
                                        type: "string",
                                        title: "Starting Comment",
                                    },
                                },
                                required: ["duration"],
                                type: "object",
                            },
                            2: {
                                additionalProperties: false,
                                properties: {
                                    duration: {
                                        pattern:
                                            "^P(?:\\d+(?:\\.\\d+)?W)?(?:\\d+(?:\\.\\d+)?D)?(?:T(?:\\d+(?:\\.\\d+)?H)?(?:\\d+(?:\\.\\d+)?M)?(?:\\d+(?:\\.\\d+)?S)?)?$",
                                        type: "string",
                                        "x-invalid-message":
                                            "'%s' is not a valid ISO 8601 duration.",
                                    },
                                    /*
                                    "host": {
                                        "items": {
                                            "anyOf": [
                                            {
                                                "maxLength": 255,
                                                "minLength": 1,
                                                "pattern": "^[A-Za-z0-9_][A-Za-z0-9\\-]{0,62}(\\.[A-Za-z0-9][A-Za-z0-9\\-]{1,62})*\\.?$",
                                                "type": "string"
                                            },
                                            {
                                                "oneOf": [
                                                {
                                                    "format": "ipv4",
                                                    "type": "string"
                                                },
                                                {
                                                    "format": "ipv6",
                                                    "type": "string"
                                                }
                                                ]
                                            }
                                            ]
                                        },
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    */
                                    "parting-comment": {
                                        type: "string",
                                    },
                                    schema: {
                                        enum: [2],
                                        type: "integer",
                                    },
                                    "starting-comment": {
                                        type: "string",
                                    },
                                },
                                required: ["schema", "duration"],
                                type: "object",
                            },
                        },
                    },
                    versions: [null, "1", "2"],
                },
            };

            // Get current schema
            const elem = document.querySelector("json-form");
            const baseSchema = JSON.parse(elem.schemaData);
            const layout = JSON.parse(elem.layoutData);
            console.log("Base schema:", baseSchema);

            const updatedSchema = baseSchema;
            const additionalProps = additionalSchema?.spec?.jsonschema?.versions?.["1"]?.properties;

            updatedSchema.properties = {
                ...updatedSchema.properties,
                ...additionalProps,
            };

            const additionalRequired =
                additionalSchema?.spec?.jsonschema?.versions?.["1"]?.required;
            updatedSchema.required = [...updatedSchema.required, ...additionalRequired];

            console.log("Updated schema:", updatedSchema);
            console.log("Updated UI schema:", JSON.parse(elem.layoutData));

            // Update the form’s schema
            elem.setAttribute("schema-data", JSON.stringify(updatedSchema));
            elem.setAttribute("layout-data", JSON.stringify(layout));
        }
    });
</script>
