<div class="datatype new-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name">New Address</h2>
        </div>
        <div class="content">
            <form id="my-form">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    Loading Form...
                </fieldset>

                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data | dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                    ></json-form>
                </script>

                <div class="save-cancel">
                    <web-button
                        type="submit"
                        data-label="Save"
                        data-theme="Secondary"
                        data-righticon="save"
                        confirm-modal="save-modal"
                    >
                    </web-button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${window.API_BASE_URL}/address/new/form`);

    document.getElementById("my-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        document
            .querySelector("#save-modal")
            .addEventListener("confirm-yes-clicked", async function (event) {
                const elem = document.querySelector("json-form");
                const form_data = JSON.parse(elem.serializeForm());
                const { name, ...rest } = form_data; // Need to remove name from the form

                // TODO: Do we need to set "url" to something here? Is url going to always remain the same?
                const data = {
                    ref_set: [],
                    type: "address",
                    json: rest,
                    name: name,
                    created_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                    last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                    // url: ""
                };

                try {
                    const response = await fetch(`${window.API_BASE_URL}/address`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    });

                    if (response.ok) {
                        const result = await response.json();

                        // Adding save message to sessionStorage
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify(["Address saved successfully!", "Success"]),
                        );

                        // Depends on if wizard page or not
                        let pathName = window.location.pathname;
                        if (pathName.includes("new")) {
                            window.location = "/addresses/?id=" + result.id;
                        } else {
                            window.location = pathName + "?id=" + result.id;
                        }
                    } else {
                        console.error("Error:", "Something went wrong.");
                        sessionStorage.setItem(
                            "confirmMessage",
                            JSON.stringify(["Something went wrong.", "Error"]),
                        );
                        processLastMessage();
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            });
    });
</script>
