<div class="host edit-form" hx-ext="dynamic-url">
  <div class="page">
    <div class="header">
      <h2 id="data-name"></h2>
      <div id="edit-icon"><i style="width: 20px; height: 20px; margin-left: auto;" data-lucide="edit"></i></div>
    </div>
    <div class="content">
      <form id="my-form">
        <fieldset
          id="content"
          hx-get="http://0.0.0.0:8000/api/address/{id}/form"
          hx-trigger="load"
          nunjucks-template="example-template"
        >
          Loading Form...
        </fieldset>

        <script src="/partials/customRenderer.js" type="module"></script>
        
        <script id="example-template" type="nunjucks">
          <json-form
            id="my-json-form"
            form-data='{{ form_data |
                logger("logging form-data:") |
                escape_property("_meta") |
                dump }}'
            schema-data='{{ json_schema | dump }}'
            layout-data='{{ ui_schema | dump }}'
            readonly='true'
          ></json-form>
        </script>

        <div class="edit-save-cancel">
          <web-button
            label="Delete"
            theme="error"
            righticon="trash-2"
            hx-delete="http://0.0.0.0:8000/api/address/{id}"
            hx-trigger="click"
            hx-target="#response-container"
            hx-confirm="Are you sure you want to delete this address?">
          </web-button>
          <web-button
            label="Save"
            theme="secondary"
            righticon='save'>
          </web-button>
          <web-button
            label="Cancel"
            theme="primary"
            righticon='x'>
          </web-button>
        </div>
      </form>
      <!-- Response container -->
      <div id="response-container"></div>
    </div>
  </div>
</div>

<script>
  // SET ADDRESS NAME AS HEADER
  document.body.addEventListener('json-form:mounted', (event) => {
    let elem = event.detail[0].target;
    if (elem?.data?.name) { document.getElementById("data-name").textContent = elem?.data?.name; }
  })

  // READONLY TO EDIT STATE
  document.getElementById("edit-icon").addEventListener("click", async () => {
    const jsonForm = document.querySelector("json-form");
    if (jsonForm.getAttribute("readonly") === "true") { jsonForm.setAttribute("readonly", "false"); }
    document.querySelector(".edit-save-cancel").style = "display: flex; flex-direction: row; justify-content: flex-end; gap: 10px; margin-top: 2.25rem; ";
    document.getElementById("edit-icon").style.display = "none";
  });


  // SAVE & FORM SUBMIT & EDIT TO READONLY STATE
  document.getElementById("my-form").addEventListener("submit", async function (event) {
    event.preventDefault(); // stop default form submission

    const elem = document.querySelector("json-form");

    if (elem.getAttribute("readonly") === "false") { elem.setAttribute("readonly", "true"); }
    document.querySelector(".edit-save-cancel").style = "none";
    document.getElementById("edit-icon").style.display = "block";

    const form_data = JSON.parse(elem.serializeForm())
    const { name, ...rest } = form_data; // Need to remove name from the form

    const now = new Date();

    // TODO: How would ref_set be updated?
    const updated_data = {
      json: rest,
      name: name,
      last_edited_at: now.toISOString(),
      last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
    }

    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");
    try {
      const response = await fetch(`http://0.0.0.0:8000/api/address/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(updated_data)
      });

      const result = await response.json();
      console.log("Success:", result);
      document.getElementById("response-container").innerText = "Address saved successfully!";
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("response-container").innerText = "Something went wrong.";
    }
  });
</script>
