<div class="schedule edit-form">
  <div class="page">
    <h2>New Schedule</h2>
    <div class="content">
      <form id="my-form">
        <fieldset
          id="content"
          hx-get="http://0.0.0.0:8000/api/schedule/new/form"
          hx-trigger="load"
          nunjucks-template="example-template">
          Loading Form...
        </fieldset>

        <script src="/partials/customRenderer.js" type="module"></script>
        <script id="example-template" type="nunjucks">
          <json-form
            id="my-json-form"
            form-data='{{ form_data | dump }}'
            schema-data='{{ json_schema | dump }}'
            layout-data='{{ ui_schema | dump }}'
          ></json-form>
        </script>

        <div class="save-cancel">
          <web-button
            data-label="Save"
            data-theme="Secondary"
            data-righticon='save'>
          </web-button>
        </div>
      </form>
      <!-- Response container -->
      <div id="response-container"></div>
    </div>
  </div>
</div>