<div class="datatype edit-form" hx-ext="dynamic-url">
    <div class="page">
        <div class="header">
            <h2 id="data-name"></h2>
            <web-button id="edit-icon" data-righticon="edit" data-theme="Icon"></web-button>
        </div>
        <div class="content">
            <form id="data-form" method="GET">
                <fieldset id="content" hx-trigger="load" nunjucks-template="example-template">
                    Loading Form...
                </fieldset>
                <script id="example-template" type="nunjucks">
                    <json-form
                      id="my-json-form"
                      form-data='{{ form_data |
                          logger("logging form-data:") |
                          escape_property("_meta") |
                          dump }}'
                      schema-data='{{ json_schema | dump }}'
                      layout-data='{{ ui_schema | dump }}'
                      readonly='true'
                    ></json-form>
                </script>
                <div hx-get="/partials/edit-save-cancel.html" hx-trigger="load"></div>
            </form>
        </div>
    </div>
</div>

<script>
    // Setting the hx-get attribute dynamically
    document
        .getElementById("content")
        .setAttribute("hx-get", `${window.API_BASE_URL}/schedule/{id}/form`);

    // SAVE & FORM SUBMIT & EDIT TO READONLY STATE
    document.getElementById("data-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        document
            .querySelector("#save-modal")
            .addEventListener("confirm-yes-clicked", async function (event) {
                const jsonForm = document.querySelector("json-form");
                const formData = JSON.parse(jsonForm.serializeForm());
                const { name, ...rest } = formData; // Need to remove name from the form

                // TODO: How would ref_set be updated?
                const updated_data = {
                    json: rest,
                    name: name,
                    last_edited_at: new Date().toISOString(),
                    last_edited_by: "ssbaveja", // TODO: this will not be needed since it'll be parsed from user object
                    // url: "",
                    // ref_set: []
                };

                try {
                    const response = await fetch(`${window.API_BASE_URL}/schedule/${id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(updated_data),
                    });

                    const result = await response.json();
                    sessionStorage.setItem(
                        "confirmMessage",
                        JSON.stringify(
                            response.ok
                                ? ["Schedule saved successfully!", "Success"]
                                : ["Something went wrong.", "Error"],
                        ),
                    );
                    params.delete("edit");
                    window.location = window.location.pathname + "?" + params;
                } catch (error) {
                    console.error("Error:", error);
                }
            });
    });
</script>
