@import "../css/color.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TYPOGRAPHY - SANS */

p {
    @apply text-copy_1_sans font-sans;
}

h1 {
    @apply text-h1_sans font-sans text-center;
}

h2 {
    @apply text-h2_sans font-sans font-semibold text-center;
}

h3 {
    @apply text-h3_sans font-sans font-semibold text-center;
}

h4 {
    @apply text-h4_sans font-sans;
}

h5 {
    @apply text-h5_sans font-sans;
}

h6 {
    @apply text-h6_sans font-sans;
}

svg {
    @apply flex-shrink-0;
}

/* PAGE SETUP */

html,
body {
    @apply flex min-h-full m-none text-copy text-base;
}

.packets-ui {
    @apply flex flex-col bg-background min-h-full flex-grow;
}

#router-target {
    @apply flex w-full justify-start items-center flex-col py-xlg px-xxlg gap-5;
}

.backdrop {
    @apply flex flex-row justify-start w-full flex-grow;
}

#page-content {
    @apply flex flex-col w-full mb-xxlg md:flex-row md:mb-none flex-grow;
}

/* MESSAGE BANNER */

#response-container:not(:has(#confirm-modal)) {
    @apply flex flex-row overflow-hidden max-h-0 pt-0 pb-0 opacity-0 bg-copyAlt text-center text-copy justify-center items-center gap-xsm;
    transition:
        max-height 1.2s ease,
        padding-top 1.2s ease,
        padding-bottom 1.2s ease,
        opacity 1.2s ease;
}

#response-container:not(:has(#confirm-modal)).show {
    @apply flex flex-row w-full max-h-[200px] pt-[0.8rem] pb-[0.8rem] opacity-100 text-center z-[1000] bg-copyAlt text-copy justify-center items-center gap-xsm;
}

/* CONFIRM MODAL MESSAGE */

#confirm-modal .confirm-message {
    @apply flex flex-col items-start gap-md w-[80%] text-left font-[400] text-copyAlt;
}

#confirm-modal .confirm-message ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.collapsible-list {
  @apply flex w-full flex-col bg-background rounded-xl transition-all;
}

.collapsible-item {
  @apply overflow-hidden border-b border-shadow last:border-b-0;
}

details > summary {
    @apply flex items-center gap-xsm font-semibold py-3 px-4 cursor-pointer list-none;
}

.collapsible-item summary {
  @apply flex justify-between py-3 px-4 cursor-pointer;
}

.collapsible-item .summary-content {
  @apply flex flex-row gap-xsm;
}

details > summary .collapse-icon {
  transform: translateY(-2px); 
  transition: transform 0.2s ease;
}

details[open] > summary .collapse-icon {
  transform: scaleY(-1) translateY(-1px); 
}

.collapsible-item ul {
  @apply flex flex-col p-4 bg-surface_1 gap-2;
}

.collapsible-item li {
  @apply px-4 py-1 bg-background rounded-full w-fit transition-transform ease-in-out list-none;
}

.collapsible-item li:hover {
    @apply text-copyAlt transition-transform duration-200 ease-in-out scale-[1.04];
}

/* NAVIGATIONs */

nav {
    @apply flex;
}

.top-nav {
    @apply flex flex-row h-16 w-full bg-surface_1 p-md gap-md text-copy border-b border-copy font-sans;
}

.top-left {
    @apply flex items-center;
}

.top-left a {
    @apply flex flex-row items-center mr-auto;
}

.pscompose {
    @apply text-copy font-sans text-[2.25rem] font-bold leading-[2.925rem] not-italic;
}

.Logo {
    @apply h-16 p-xsm;
}

.top-right {
    @apply flex flex-row items-center ml-auto gap-md;
}

.readme {
    @apply font-mono text-h4_mono;
}

.readme:hover {
    @apply text-copyAlt;
}

.menu {
    @apply flex flex-row;
}

.left-nav {
    @apply flex flex-col gap-md w-[7.5rem] h-full bg-surface_1 items-center py-md px-xsm;
}

.left-nav-item {
    @apply p-2.5 font-mono text-copy flex flex-col items-center text-center gap-xsm cursor-pointer transition-all duration-150 ease-in-out rounded-lg;
}

.left-nav-item:hover {
    @apply text-copyAlt translate-x-[1px] transition-transform duration-200 ease-in-out;
}

.left-nav-item p {
    @apply text-h6_mono font-mono;
}

.left-nav .active {
    @apply text-success bg-background w-full pt-[0.9rem]; 
}

.left-nav .active svg {
    @apply text-success;
}

/* SUB NAVIGATION */

.parent-item {
    @apply relative md:transition-all;
}

.submenu-container {
    @apply flex-1 bg-surface_2;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;

    @apply fixed inset-0 h-screen left-[7.5rem] top-16;
    @apply md:static md:inset-auto md:h-auto;
}

.submenu-container.open {
    width: calc(100vw - 7.5rem);
    @apply md:w-[25rem] opacity-100;
}

.submenu-container.close {
    width: 0;
    opacity: 0;
}

.submenu-container.close.hidden {
    transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu {
    @apply flex flex-col py-md px-xlg gap-md font-sans bg-surface_2 w-full mb-xxlg;
}

.submenu h1 {
    @apply font-sans font-bold py-md text-[2.25rem] flex items-center text-success;
}

.submenu ul {
    @apply flex flex-col gap-xsm;
}

.submenu-item {
    @apply flex flex-row items-start gap-4 px-md py-xxsm cursor-pointer transition-all duration-150 ease-in-out rounded-lg;
}

.submenu li:hover {
    @apply text-copyAlt translate-x-[1px] transition-transform duration-200 ease-in-out;
}

.submenu .active {
    @apply bg-success/50 rounded-full;
}

.submenu ul svg {
    @apply w-[1.2rem] h-[1.2rem] min-w-[1.2rem] min-h-[1.2rem] mt-xxsm;
}

.submenu .submenu-header {
    @apply flex flex-row justify-between items-center mb-xsm gap-lg;
}

.submenu #submenu-search {
    @apply flex flex-row items-center bg-surface_1 text-copy w-full h-[40px] p-md border border-[#c3c7d9];
}
.submenu #submenu-search:focus {
    @apply outline-none border-[1.5px] border-success;
}

/* HOME PAGE / INDEX */

.homepage {
    @apply flex flex-col flex-1 gap-xlg items-center;
}

.getting-started-p {
    @apply text-center;
}

.getting-started-boxes {
    @apply flex flex-col gap-md md:flex-row;
}

.published-templates {
    @apply flex flex-col gap-md justify-center items-center;
}

.table-container {
    @apply px-lg;
}

table {
    @apply table-fixed w-full xlg:w-full border-collapse;
}

thead {
    @apply bg-surface_1;
}

tr {
    @apply flex border-b border-copyAlt/30;
}

tr p {
    @apply flex-1;
}

th {
    @apply py-md px-md text-left;
}

th:nth-child(1) {
    @apply w-[30%] xlg:w-[25%];
}
th:nth-child(2) {
    @apply flex-1;
}
th:nth-child(3) {
    @apply w-[25%] xlg:w-[20%];
}

.th-content {
    @apply flex flex-row text-copyAlt font-sans items-center gap-xsm min-w-0 w-full;
}

.th-content svg {
    @apply w-6 h-6 flex-shrink-0 hidden sm:block;
}

.th-content span {
    @apply text-h6_sans whitespace-nowrap overflow-hidden;
}

td {
    @apply flex justify-start items-center px-md py-md text-left;
}

td:nth-child(1) {
    @apply w-[30%] xlg:w-[25%];
}
td:nth-child(2) {
    @apply flex-1;
}
td:nth-child(3) {
    @apply w-[25%] xlg:w-[20%];
}

td a {
    @apply h-fit font-mono flex flex-col cursor-pointer transition-all duration-150 ease-in-out;
}

td a:hover {
    @apply text-copyAlt transition-transform duration-200 ease-in-out scale-[1.04];
}

.td-content {
    @apply text-h6_sans font-sans flex flex-col justify-center h-full;
}

.action-icons {
    @apply flex flex-col gap-none sm:flex-row sm:gap-xsm w-fit flex-shrink-0;
}

.action-icon {
    @apply relative;
}

.action-icon .tooltip {
  @apply hidden;
}

.action-icon:hover .tooltip{
    @apply block text-copy text-xs px-2 py-1 absolute z-20 whitespace-nowrap -mt-8 ml-2 shadow-lg;
    background-color: #f2f2f2;
    color: #3d3d3d;
    border-radius: 8px;
}

table .tag {
    @apply flex items-center bg-success text-surface_1 text-[0.8rem] px-[0.8rem] py-xxsm rounded-full border border-[#454547] inline-flex whitespace-nowrap w-fit;
}

table .tags {
    @apply h-fit inline-flex flex flex-col flex-wrap justify-start xlg:flex-row gap-md;
}

/* SHORT CUT PANEL  */

.shortcuts-container {
    @apply relative flex flex-col flex-1 gap-xlg bg-background md:bg-surface_1;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
}

.shortcuts-container.open {
    @apply w-full h-full sm:w-full md:w-full lg:w-full xl:w-[25rem] opacity-100 py-xlg px-xxlg md:px-xlg;
}

.shortcuts-container.close {
    width: 0;
    opacity: 0;
}

.shortcuts-container.close.hidden {
    transition:
        width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.shortcuts .recently-edited-container,
.favorites-container {
    @apply flex flex-col w-full items-center gap-md;
}

.shortcuts-section {
    @apply flex flex-col w-full gap-md;
}

.shortcuts {
    @apply flex flex-col items-center gap-md w-full;
}

.shortcuts .list-box:hover {
    @apply translate-y-[-1px] scale-[1.02];
}

.toggle-shortcuts-btn {
    @apply fixed top-20 right-0 flex items-center justify-center h-xlg w-xlg z-50 bg-surface_1;
    border-radius: 16px 0 0 16px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;  
}

.toggle-shortcuts-btn.opening {
    transform: translateX(-25rem); 
    opacity: 0.3;
}

.toggle-shortcuts-btn.closing {
    transform: translateX(25rem); 
    opacity: 0.3;
}

.toggle-shortcuts-btn.open {
    @apply absolute top-[5rem] right-[25rem] flex items-center justify-center h-xlg w-xlg z-50 bg-surface_1;
    opacity: 1;
}

/* BOX */

.list-box {
    @apply flex flex-col p-lg gap-md w-full bg-surface_2 rounded-2xl w-full;
}

.box-header {
    @apply flex items-start flex-row gap-xsm;
}

.box-header .box-info {
    @apply flex flex-col;
}

.box-header .box-info span {
    @apply text-label_1_mono font-mono text-copyAlt;
}

.box-header svg {
    @apply w-xlg h-xlg mt-xxsm;
}

.box-name {
    @apply flex-grow;
}

.box-text {
    @apply font-[0.8rem] text-copyAlt;
}

/* IMPORT */

.import-page {
    @apply flex flex-col gap-xlg items-center;
}

/* WIZARD */

.wizard-page {
    @apply flex flex-col gap-xlg items-center;
}

.progress-bar {
    @apply flex flex-row w-full justify-center items-center min-h-[80px];
}

.step-section {
    @apply flex flex-col justify-center py-md gap-lg flex-1 min-h-[24rem] w-[60vw];
    animation-name: WizardFadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes WizardFadeIn {
    0% {
        transform: translateX(1%);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.step-text {
    @apply text-copy_2_sans pr-xlg;
}

.step-text a {
    @apply underline text-success;
}

.step-box {
    @apply flex flex-col lg:flex-row bg-surface_1 border-md border-shadow rounded-xxl w-full flex-1 p-lg gap-xxlg;
}

.step-box-left {
    @apply flex flex-row items-end lg:items-start lg:flex-col gap-md rounded-l-xxl flex-[0.3];
}

.step-box-left dropdown-single-select {
    @apply w-full;
}

.step-box-left #new-btn {
    @apply mb-xxsm;
}

.step-box-right {
    @apply flex flex-[0.7] justify-center;
}

.step-box-right .datatype.edit-form .content,
.step-box-right .datatype.new-form .content {
    @apply flex flex-col gap-lg w-full pb-none;
}

.step-box-right :where(.packets-ui .vertical-layout-item) {
    @apply mb-md;
}

.step-box-right .header #data-name {
    @apply flex-1 text-left text-h4_sans font-sans;
}

.step-box-column {
    @apply flex flex-col bg-surface_1 border-md border-shadow rounded-xl w-full flex-1 py-md px-lg gap-lg;
}

/* HOST EDIT FORM */

.header {
    @apply flex flex-col items-start md:items-center w-full gap-xsm md:flex-row;
}

.header #data-name {
    @apply flex-1 text-center;
}

.header .header-icons {
    @apply flex gap-xsm items-center;
}

.datatype.error-form .page,
.datatype.edit-form .page,
.datatype.new-form .page {
    @apply flex flex-col justify-start w-full items-center p-none m-none gap-md;
}

.datatype.edit-form .content,
.datatype.new-form .content {
    @apply flex flex-col gap-lg w-full md:w-full pb-xxlg;
}

:where(.packets-ui .vertical-layout) {
    @apply flex flex-col;
}

:where(.packets-ui .horizontal-layout) {
    @apply flex flex-row gap-lg w-full;
}

:where(.packets-ui .vertical-layout-item) {
    @apply w-full mb-lg;
    animation-name: jsonFormFadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes jsonFormFadeIn {
    0% {
        transform: translateY(-3%);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

:where(.packets-ui .vertical-layout-item):empty {
    @apply hidden;
}

:where(.packets-ui .horizontal-layout-item) {
    @apply w-auto;
}

:where(.packets-ui .horizontal-layout-item):has(
        input-text,
        input-text-autocomplete,
        input-number,
        dropdown-multi-select,
        dropdown-single-select
    ) {
    @apply w-full;
}

:where(.packets-ui .horizontal-layout):has(input-checkbox):has(input-text) .input-checkbox-wrapper {
    @apply mt-lg;
}

:where(.packets-ui fieldset) {
    @apply flex flex-col gap-lg;
}

.edit-save-cancel {
    @apply hidden;
}

.edit-form:has(json-form[readonly="false"]) .edit-save-cancel {
    @apply flex flex-row justify-end gap-md mt-lg;
}

.edit-form:has(json-form[readonly="false"]) #edit-icon {
    @apply hidden;
}

.save-cancel {
    @apply flex flex-row justify-end items-end py-3 gap-[10px] w-full h-16 mt-1;
}

.copy-json {
    @apply flex flex-row justify-start items-start py-3 gap-[10px];
}

json-form {
    @apply w-full;
}

#content {
    @apply flex w-full justify-center items-center;
}

.spinner {
    display: inline-block;
    animation: spin 0.1s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    10% {
        transform: rotate(36deg);
        opacity: 0.55;
    }
    20% {
        transform: rotate(72deg);
        opacity: 0.6;
    }
    30% {
        transform: rotate(108deg);
        opacity: 0.65;
    }
    40% {
        transform: rotate(144deg);
        opacity: 0.7;
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.75;
    }
    60% {
        transform: rotate(216deg);
        opacity: 0.8;
    }
    70% {
        transform: rotate(252deg);
        opacity: 0.85;
    }
    80% {
        transform: rotate(288deg);
        opacity: 0.9;
    }
    90% {
        transform: rotate(324deg);
        opacity: 0.95;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
